/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* 404
========================================================================== */
section.section-404 {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0;
    }
    > .al-small-container {
        header.content {
            p {
                font-family: $poppins;
                font-size: 1.125rem;
                color: $dark-gray;
                line-height: 1.4;
                word-break: break-word;
            }
        }
    }
}
