/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Regionais
========================================================================== */
section.section-regionais {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0;
    }
    > .al-small-container {
        .regionais {
            @include flex(row, wrap, space-between, flex-start);
            @media screen and (max-width: $tb) {
                @include flex(column, nowrap, center, center);
            }
            article.regional {
                width: 48%;
                text-align: center;
                &:not(:last-of-type) {
                    margin: 0 0 46px 0;
                }
                @media screen and (max-width: $tb) {
                    width: 100%;
                }
                > header {
                    display: block;
                    font-family: $raleway-semibold;
                    font-size: 0.875rem;
                    text-align: center;
                    color: $white;
                    background: $primary-color;
                }
                ul {
                    margin: 0 0 10px 0;
                    padding: 4px 0 0 0;
                    li {
                        padding: 12px 0;
                        position: relative;
                        text-align: left;
                        @include flex(row, nowrap, space-between, flex-start);
                        @media screen and (max-width: $sm) {
                            @include flex(column, nowrap, center, center);
                        }
                        &:not(:last-of-type) {
                            &:after {
                                content: '';
                                position: absolute;
                                left:0;
                                right:0;
                                bottom: 0;
                                padding: 1px;
                                display: block;
                                margin: 0 auto;
                                width: 64%;
                                border-bottom: 1px $primary-color solid;
                                @media screen and (max-width: $tb) {
                                    width: 80%;
                                }
                                @media screen and (max-width: $sm) {
                                    width: 100%;
                                }
                            }
                        }
                        h3 {
                            font-family: $raleway-bold;
                            font-size: 1.375rem;
                            color: $dark-gray;
                            word-break: break-word;
                            @media screen and (max-width: $sm) {
                                margin: 0 0 6px 0;
                            }
                        }
                        .role {
                            width: 200px;
                            @media screen and (max-width: $sm) {
                                width: 100%;
                                text-align: center;
                            }
                            span {
                                font-size: 0.75rem;
                                line-height: 1;
                                color: $primary-color;
                                font-family: $raleway-semibold;
                                font-style: italic;
                                word-break: break-word;
                            }
                            p {
                                font-size: 0.75rem;
                                color: $semi-light-gray;
                                font-family: $raleway-semibold;
                                word-break: break-word;
                            }
                        }
                    }
                }
                > a {
                    display: inline-block;
                    color: $white;
                    font-family: $raleway-bold;
                    font-size: 0.875rem;
                    background: $secondary-color;
                    text-transform: uppercase;
                    border: none;
                    padding: 6px 24px;
                    cursor: pointer;
                    @include border-radius(16px);
                    @include transition(all .3s);
                    &:hover {
                        transform: translateY(-2px);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                }
            }
        }
    }
}
