/* Imports
========================================================================== */
@import 'index';
@import 'pagination';
@import 'breadcrumb';

/* Global page styles
========================================================================== */
span.regional-label {
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 12px;
    padding: 4px 8px;
    color: $white;
    font-size: 0.875rem;
    font-family: $poppins-medium;
    background: $primary-color;
    border-radius: 4px;
}

a.calendar-label {
    z-index: 1000;
    position: absolute;
    top: 10px;
    right: 12px;
    background: $white;
    color: $primary-color;
    font-family: $raleway-bold;
    font-size: 0.875rem;
    text-transform: uppercase;
    padding: 7px 20px;
    border-radius: 16px;
    transition: all .3s;
    cursor: pointer;
    &:hover {
        transition: all .3s;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    }
    @media screen and (max-width: $tb) {
        padding: 7px 8px;
    }
}

/* Eventos
========================================================================== */
section.section-eventos {
    padding: 30px 0 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 0;
    }
    > .al-small-container {
        > .eventos-search-bar {
            margin: 0 0 42px 0;
            > h1 {
                display: inline-block !important;
            }
            > p {
                float: right;
                color: $medium-gray;
                font-family: $poppins-medium;
                @media screen and (max-width: $tb) {
                    margin: 0 0 30px 0;
                }
                @media screen and (max-width: $sm) {
                    float: none !important;
                }
                span {
                    color: $primary-color;
                    font-family: $poppins-semibold;
                }
            }
            form {
                display: block;
                margin: -12px 0 0 0;
                @media screen and (max-width: $dt) {
                    @include flex(row, nowrap, space-between, flex-start);
                }
                @media screen and (max-width: $tb) {
                    @include flex(row, wrap, space-evenly, flex-start);
                }
                @media screen and (max-width: $sm) {
                    @include flex(column, wrap, center, center);
                }
                select {
                    position: relative;
                    padding: 6px 14px;
                    font-size: 0.875rem;
                    margin: 0 20px 0 0;
                    width: 112px;
                    height: 28px;
                    border: 1px solid $primary-color;
                    color: $tertiary-color;
                    font-family: $raleway-semibold;
                    background: none;
                    cursor: pointer;
                    @include transition(all .3s);
                    @include border-radius(10px);
                    @media screen and (max-width: $dt) {
                        margin: 0 6px 12px 0;
                    }
                    @media screen and (max-width: $sm) {
                        width: 100%;
                    }
                    &:hover,
                    &:focus {
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        background: url('../assets/images/header/flecha-direita.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 20px;
                        width: 20px;
                    }
                }
                label {
                    position: relative;
                    @media screen and (max-width: $dt) {
                        input {
                            width: 192px !important;
                            max-width: 100% !important;
                            margin-right: 0 !important;
                        }
                    }
                    @media screen and (max-width: $tb) {
                        input {
                            margin-bottom: 20px !important;
                        }
                    }
                    @media screen and (max-width: $sm) {
                        width: 100%;
                        input {
                            width: 100% !important;
                        }
                    }
                    &:first-of-type,
                    &:nth-of-type(2) {
                        &:before {
                            content: '\f073';
                            position: absolute;
                            font-family: 'FontAwesome';
                            color: $primary-color;
                            top: 50%;
                            left: 8%;
                            transform: translateY(-50%);
                            @media screen and (max-width: $tb) {
                                top: 14px;
                                left: 12px;
                            }
                        }
                        input {
                            max-width: 152px;
                            margin: 0 20px 0 0;
                        }
                    }
                    &:nth-of-type(3) {
                        &:before {
                            content: '\F002';
                            position: absolute;
                            font-family: 'FontAwesome';
                            color: $primary-color;
                            top: 50%;
                            left: 2%;
                            transform: translateY(-50%);
                            @media screen and (max-width: $tb) {
                                top: 14px;
                                left: 12px;
                            }
                        }
                        input {
                            max-width: 434px;
                            margin: 0 36px 0 0;
                        }
                    }
                    input {
                        width: 100%;
                        padding: 6px 16px 6px 36px;
                        border: 1px solid $primary-color;
                        color: $primary-color;
                        font-family: $raleway-semibold;
                        font-size: 0.875rem;
                        @include transition(all .3s);
                        @include border-radius(10px);
                        @media screen and (max-width: $tb) {
                            margin: 0 0 12px 0;
                        }
                        &:not([name="evento"]) {
                            cursor: pointer;
                        }
                        &:hover,
                        &:focus {
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                        }
                    }
                }
                button {
                    display: inline-block;
                    border: none;
                    background: $primary-color;
                    color: $white;
                    font-family: $raleway-semibold;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    padding: 7px 34px;
                    cursor: pointer;
                    @include border-radius(10px);
                    @include transition(all .3s);
                    &:hover {
                        transform: translateY(-2px);
                        @include transition(all .3s);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                }
            }
        }
        > .eventos-recentes {
            @include flex(row, wrap, space-between, flex-start);
            @media screen and (max-width: $dt) {
                margin: 0 0 30px 0;
            }
            article {
                position: relative;
                width: 49.2%;
                margin: 0 0 8px 0;
                @include flex(column, nowrap, flex-start, flex-start);
                @include transition(all .3s);
                &:hover {
                    transform: translateY(-1px);
                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                }
                @media screen and (max-width: 628px) {
                    width: 100%;
                }
                .infos {
                    position: relative;
                    width: 100%;
                    z-index: 9998;
                }
                > a {
                    display: inline-block;
                    img {
                        width: 100vw;
                        height: 172px;
                        object-fit: cover;
                        object-position: center;
                    }
                }
                > .content {
                    margin-top: -4px;
                    height: 110px;
                    width: 100%;
                    position: relative;
                    padding: 26px 56px 6px 26px;
                    background: $primary-color;
                    @include flex(row, nowrap, flex-start, center);
                    @media screen and (max-width: $dt) {
                        height: inherit;
                        min-height: 150px;
                        padding: 18px;
                        @include flex(column, nowrap, flex-start, flex-start);
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: url('../assets/images/decoracao-card-grande.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                        width: 100px;
                        @media screen and (max-width: $dt) {
                            display: none;
                        }
                    }
                    > a {
                        .date {
                            margin: 0 36px 0 0;
                            color: $white;
                            @include flex(row, nowrap, flex-start, flex-start);
                            span.day {
                                display: inline-block;
                                margin: -13px 6px 0 0;
                                font-family: $poppins-medium;
                                font-size: 3.75rem;
                            }
                            > p {
                                @include flex(column, nowrap, flex-start, flex-start);
                                span.month {
                                    font-family: $poppins-medium;
                                    font-size: 1.625rem;
                                }
                                span.year {
                                    display: inline-block;
                                    margin: -16px 0 0 0;
                                    font-family: $poppins;
                                    font-size: 1.375rem;
                                }
                            }
                        }
                        &.title {
                            border-left: 2px solid $white;
                            padding: 12px;
                            margin-top: -14px;
                            @media screen and (max-width: $dt) {
                                border: none !important;
                                padding: 0;
                            }
                        }
                        > h2 {
                            position: relative;
                            display: inline-block;
                            max-width: 240px;
                            color: $white;
                            font-family: $raleway-light;
                            font-size: 1.125rem;
                            @media screen and (max-width: $tb) {
                                max-width: 100%;
                            }
                        }
                        &:nth-of-type(3),
                        &:nth-of-type(4),
                        &:nth-of-type(5) {
                            display: none;
                        }
                    }
                    > a.agenda, > p {
                        display: none;
                    }
                }
                &.highlight {
                    width: 100% !important;
                    height: 312px !important;
                    margin: 0 0 20px 0;
                    @include flex(row, nowrap, flex-start, flex-start);
                    .calendar-label {
                        @media screen and (min-width: $tb + 1) {
                            display: none;
                        }
                        @media screen and (max-width: $tb) {
                            display: inline-block;
                            position: absolute !important;
                        }
                    }
                    > a {
                        display: inline-block;
                        width: 49%;
                        img {
                            width: 100vw;
                            height: 312px;
                            object-fit: cover;
                            object-position: center;
                        }
                    }
                    > .content {
                        margin-top: 0;
                        display: inline-block;
                        height: 312px;
                        width: 51%;
                        position: relative;
                        padding: 6px 26px;
                        background: $primary-color;
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: url('../assets/images/decoracao-card-grande.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100%;
                            width: 100px;
                            @media screen and (max-width: $dt) {
                                display: none;
                            }
                        }
                        > a {
                            &:nth-of-type(3),
                            &:nth-of-type(4),
                            &:nth-of-type(5) {
                                display: inherit;
                            }
                            &.title {
                                border-left: none;
                                padding: 0;
                                margin-top: 0;
                            }
                            .date {
                                color: $white;
                                @include flex(row, nowrap, flex-start, flex-start);
                                span.day {
                                    display: inline-block;
                                    margin: -10px 2px 0 0;
                                    font-family: $poppins-semibold;
                                    font-size: 3.25rem;
                                }
                                > p {
                                    @include flex(column, nowrap, flex-start, flex-start);
                                    span.month {
                                        font-family: $poppins-medium;
                                        font-size: 1.5rem;
                                    }
                                    span.year {
                                        display: inline-block;
                                        margin: -16px 0 0 0;
                                        font-family: $poppins;
                                        font-size: 1.25rem;
                                    }
                                }
                            }
                            > h2 {
                                margin: -20px 0 6px 0;
                                max-width: 386px;
                                color: $white;
                                font-family: $raleway-light;
                                font-size: 1.875rem;
                                &:before {
                                    display: none;
                                }
                            }
                            p {
                                color: $white;
                                font-family: $poppins;
                                font-size: 0.875rem;
                                margin: 0 0 6px 0;
                                max-width: 386px;
                                @include flex(row, nowrap, flex-start, center);
                                img {
                                    width: 22px;
                                    margin: 0 16px 0 0;
                                    &.ingresso {
                                        width: 28px;
                                        margin: 0 10px 0 0;
                                    }
                                }
                                strong {
                                    color: $white;
                                }
                            }
                            &.agenda {
                                display: inline-block;
                                margin: 10px 0 0 0;
                                background: $white;
                                color: $primary-color;
                                font-family: $raleway-bold;
                                font-size: 0.875rem;
                                text-transform: uppercase;
                                padding: 7px 20px;
                                cursor: pointer;
                                @include border-radius(16px);
                                @include transition(all .3s);
                                &:hover {
                                    transform: translateY(-2px);
                                    @include transition(all .3s);
                                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                                }
                            }
                        }
                    }
                }
            }
        }
        > .load-more-eventos {
            margin: 40px 0 50px 0;
            nav {
                display: block;
                width: 100%;
                text-align: center;
                a {
                    display: inline-block;
                    border: none;
                    background: $primary-color;
                    color: $white;
                    font-family: $raleway-bold;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    padding: 8px 52px;
                    cursor: pointer;
                    @include border-radius(12px);
                    @include transition(all .3s);
                    @media screen and (max-width: $sm) {
                        display: block;
                        &:first-of-type {
                            margin: 0 0 12px 0;
                        }
                    }
                    &:hover {
                        transform: translateY(-2px);
                        @include transition(all .3s);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                }
            }
        }
    }
}
