/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Colaboradores
========================================================================== */
section.section-colaboradores {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0;
    }
    > .al-small-container {
        > p {
            font-family: $poppins;
            font-size: 1rem;
            color: #474d54;
            line-height: 1.4;
            strong {
                font-family: $poppins-bold;
            }
        }
        #slider-patrocinadores {
            margin: 80px 0 0 0;
            @media screen and (max-width: $tb) {
                margin: 40px 0 0 0;
            }
        }
    }
}
