/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Comitês
========================================================================== */
section.section-comites {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 30px;
    }
    > .al-small-container {
        > h1 {
            margin: 0 0 40px 0 !important;
        }
        > p {
            margin: 0 0 60px 0;
            font-family: $poppins;
            font-size: 1rem;
            color: #474d54;
            line-height: 1.4;
            @media screen and (max-width: $sm) {
                margin: 0 0 30px 0;
            }
        }
        .comites {
            @include flex(row, wrap, space-between, flex-start);
            @media screen and (max-width: $tb) {
                @include flex(column, wrap, center, center);
            }
            article {
                width: 46%;
                margin: 0 0 50px 0;
                @include flex(row, nowrap, flex-start, flex-start);
                @media screen and (max-width: $tb) {
                    width: 100%;
                }
                @media screen and (max-width: $sm) {
                    text-align: center;
                    @include flex(column, nowrap, center, center);
                }
                a {
                    display: block;
                    width: 396px;
                    margin: 0 20px 0 0;
                    &:hover {
                        img {
                            transform: translateY(-2px);
                        }
                    }
                    @media screen and (max-width: $sm) {
                        margin: 0 0 6px 0;
                    }
                    img {
                        display: inline-block;
                        width: 92px;
                        @include transition(all .3s);
                    }
                }
                .content {
                    h2 {
                        text-transform: uppercase;
                        font-family: $poppins;
                        font-size: 1.25rem;
                        color: $heading-01;
                    }
                    p {
                        font-family: $poppins;
                        color: #474d54;
                        line-height: 1.4;
                    }
                }
            }
        }
    }
}
