/* Imports
========================================================================== */
@import 'index';
@import 'maps';
@import 'breadcrumb';

/* Single agentes-digitais
========================================================================== */
section.section-single-agentes-digitais {
    padding: 30px 0 20px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 30px 0;
    }
    > .al-small-container {
        > h1 {
            margin-bottom: 14px !important;
        }
        > span {
            display: inline-block;
            margin: 0 0 20px 14px;
            color: $semi-light-gray;
            font-family: $poppins;
            font-weight: 300;
            font-size: 0.875rem;
            text-transform: uppercase;
        }
        > .content {
            margin: 0 0 30px 0;
            @include flex(row, nowrap, space-between, flex-start);
            @media screen and (max-width: $dt) {
                @include flex(column, nowrap, center, center);
            }
            .text {
                margin: 0 60px 0 0;
                font-size: 1rem;
                color: $dark-gray;
                line-height: 1.4;
                @media screen and (max-width: $dt) {
                    margin: 0;
                }
                img {
                    display: block;
                    margin: 0 auto 40px;
                    object-position: center;
                    object-fit: cover;
                }
                ul, ol {
                    margin-left: 10px;
                    list-style: disc;
                    li {
                        list-style: disc;
                        p, span, strong, b {
                            margin: 0 !important;
                        }
                    }
                }
                p, span {
                    display: block !important;
                }
                p, span, strong, b {
                    font-size: 1rem;
                    color: $dark-gray;
                    line-height: 1.4;
                    a {
                        color: $primary-color;
                    }
                }
            }
            .video {
                iframe {
                    width: 572px;
                    height: 322px;
                    @media screen and (max-width: $tb) {
                        max-width: 100%;
                    }
                    @media screen and (max-width: $sm) {
                        height: 282px;
                    }
                }
            }
        }
        > .competencias {
            margin: 0 0 60px 0;
            h2 {
                margin-bottom: 30px !important;
            }
            .competencia {
                margin: 0 0 20px 0;
                font-size: 1rem;
                color: $dark-gray;
                line-height: 1.4;
                h3 {
                    font-family: $poppins;
                    font-size: 1.25rem;
                    text-transform: uppercase;
                    color: $dark-gray;
                }
                img {
                    display: block;
                    margin: 0 auto 40px;
                    object-position: center;
                    object-fit: cover;
                }
                strong {
                    margin: 20px 0;
                }
                ul, ol {
                    margin-left: 10px;
                    list-style: disc;
                    li {
                        list-style: disc;
                        p, span, strong, b {
                            margin: 0 !important;
                        }
                    }
                }
                p, span {
                    display: block !important;
                }
                p, span, strong, b {
                    font-size: 1rem;
                    color: $dark-gray;
                    line-height: 1.4;
                    margin: 0 0 20px 0;
                    a {
                        color: $primary-color;
                    }
                }
            }
        }
        > .contato {
            margin: 0 0 30px 0;
            > div {
                @include flex(row, wrap, space-between, flex-start);
                .informacao {
                    width: 50%;
                    @media screen and (max-width: $tb) {
                        width: 100%;
                    }
                    p {
                        max-width: 486px;
                        margin: 0 0 16px 0;
                        color: $dark-gray;
                        font-family: $poppins;
                        font-size: 1rem;
                        @media screen and (max-width: $sm) {
                            font-size: 0.875rem;
                            margin: 0 0 12px 0;
                        }
                        a {
                            color: $primary-color;
                            word-break: break-all;
                        }
                        img {
                            width: 26px;
                            margin: 0 8px -8px 0;
                        }
                    }
                }
            }
        }
        > .localizacao {
            h2 {
                margin-bottom: 30px !important;
            }
            .infos {
                @include flex(row, nowrap, space-between, flex-start);
                @media screen and (max-width: $sm) {
                    @include flex(column, nowrap, flex-start, flex-start);
                }
                p {
                    max-width: 486px;
                    margin: 0 0 16px 0;
                    color: $dark-gray;
                    font-family: $poppins;
                    font-size: 1rem;
                    @media screen and (max-width: $sm) {
                        margin: 0 0 6px 0;
                    }
                    img {
                        width: 28px;
                        margin: 0 2px -8px 0;
                    }
                }
                > a {
                    display: inline-block;
                    margin: 6px 0 0 0;
                    background: $primary-color;
                    color: $white;
                    font-family: $raleway-semibold;
                    font-size: 1rem;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 4px 22px;
                    cursor: pointer;
                    @include border-radius(20px);
                    @include transition(all .3s);
                    @media screen and (max-width: $sm) {
                        margin: 0 0 10px 0;
                    }
                    &:hover {
                        background: $darken-primary-color;
                        transform: translateY(-2px);
                        @include transition(all .3s);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                    }
                }
            }
            .mapa {
                width: 100%;
            }
        }
    }
}
