/* Breadcrumbs
========================================================================== */
nav.breadcrumb {
    margin: 0 0 20px;
    @media screen and (max-width: $tb) {
        margin: 12px 0 20px;
    }
    a {
        display: inline-block;
        font-size: 1.125rem;
        color: $primary-color;
        transition: all .3s;
        &:hover {
            transform: translateY(-1px);
        }
        @media screen and (max-width: $sm) {
            font-size: 1rem;
        }
    }
    span {
        word-break: break-word;
        font-weight: 600;
        font-size: 1.125rem;
        color: $tertiary-color;
        @media screen and (max-width: $sm) {
            font-size: 1rem;
        }
    }
}
