/* Fonts
========================================================================== */
@font-face {
    font-family: 'poppins-light';
	src: url('../assets/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
    font-family: 'poppins-thin';
	src: url('../assets/fonts/poppins/Poppins-Thin.ttf');
}

@font-face {
    font-family: 'poppins';
	src: url('../assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppins-medium';
	src: url('../assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppins-semibold';
	src: url('../assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
    font-family: 'poppins-bold';
	src: url('../assets/fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'raleway-light';
	src: url('../assets/fonts/raleway/Raleway-Light.ttf');
}

@font-face {
    font-family: 'raleway-thin';
	src: url('../assets/fonts/raleway/Raleway-Thin.ttf');
}

@font-face {
    font-family: 'raleway';
	src: url('../assets/fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'raleway-medium';
	src: url('../assets/fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
    font-family: 'raleway-semibold';
	src: url('../assets/fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
    font-family: 'raleway-bold';
	src: url('../assets/fonts/raleway/Raleway-Bold.ttf');
}

@font-face {
    font-family: 'titillium-semibold';
	src: url('../assets/fonts/titillium/TitilliumWeb-SemiBold.ttf');
}
