/* Footer
========================================================================== */
footer.main-footer {
    padding: 30px 0;
    background: $footer-background;
    > .al-small-container {
        @include flex(row, nowrap, space-between, flex-start);
        @media screen and (max-width: $tb) {
            @include flex(column, nowrap, center, center);
        }
        > a {
            img {
                height: 120px;
                width: 156px;
            }
        }
        .menu-01,
        .menu-02,
        .menu-03,
        .menu-04 {
            margin: 18px 0 0 0;
            @media screen and (max-width: $tb) {
                text-align: center;
            }
            p {
                display: inline-block;
                margin: 0 0 4px 0;
                color: $dark-gray;
                font-family: $poppins-semibold;
                font-size: 0.938rem;
                text-transform: uppercase;
            }
            ul {
                li {
                    font-family: $poppins-medium;
                    font-size: 0.875rem;
                    color: $tertiary-color;
                    &:hover {
                        a {
                            color: $primary-color;
                            transform: translateX(2px);
                        }
                    }
                    a {
                        display: inline-block;
                        @extend li;
                        @include transition(all .2s);
                    }
                }
            }
            .social {
                margin: 22px 0 0 0;
                @media screen and (max-width: $tb) {
                    margin: 12px auto 0;
                    text-align: center;
                }
                a {
                    display: inline-block;
                    margin: 0 22px 0 0;
                    @media screen and (max-width: $tb) {
                        margin: 0 10px 0 0;
                        &:last-of-type {
                            margin: 0;
                        }
                    }
                    img {
                        width: 22px;
                    }
                }
            }
        }
    }
    .area {
        margin: 28px 0 0;
        text-align: center;
        > span {
            font-family: $poppins-medium;
            font-size: 0.875rem;
            color: $tertiary-color;
        }
        > a {
            display: inline-block;
            font-family: $poppins-medium;
            font-size: 0.875rem;
            color: $primary-color;
            @include transition(all .3s);
            &:hover {
                color: $secondary-color;
                transform: translateY(-1px);
            }
        }
    }
}
