/* Header
========================================================================== */
header.main-header {
    padding-top: 38px !important;
    .first-row {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        background: $header-01-background;
        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.1));
        > div {
            @include flex(row, nowrap, space-between, center);
            nav.menu-01 {
                > ul {
                    padding: 4px 0 4px 0;
                    @include flex(row, nowrap, space-between, center);
                    > li {
                        position: relative;
                        margin: 0 19px 0 0;
                        font-size: 0.875rem;
                        @include transition(all 0.3s);
                        > span {
                            font-size: 0.875rem;
                        }
                        &:hover {
                            &:before {
                                color: $darken-primary-color;
                            }
                            a {
                                transform: translateX(4px);
                                color: $darken-primary-color;
                            }
                        }
                        &:not(:first-of-type) {
                            &:before {
                                content: '|';
                                display: inline-block;
                                color: $primary-color;
                                font-weight: bold;
                                margin: 0 19px 0 0;
                                @include transition(all 0.3s);
                            }
                        }
                        &:first-of-type {
                            position: relative;
                            cursor: pointer;
                            span {
                                display: inline-block;
                                color: $primary-color;
                                font-family: $poppins-semibold;
                                text-transform: uppercase;
                            }
                            &:hover {
                                .header01-sub-menu {
                                    visibility: visible;
                                    transform: translateY(0);
                                    @include transition(all 0.3s);
                                    a {
                                        opacity: 1;
                                        transform: translateX(0px) !important;
                                    }
                                }
                            }
                            ul.header01-sub-menu {
                                position: absolute;
                                z-index: 10000;
                                visibility: hidden;
                                width: 100%;
                                padding: 10px 0 10px 14px;
                                top: 28px;
                                background: $header-01-background;
                                transform: translateY(-12px);
                                width: 236px;
                                @include box-shadow(
                                    0 0 10px rgba(0, 0, 0, 0.2)
                                );
                                @include border-radius(0 0 12px 12px);
                                @include transition(all 0.2s);
                                @for $i from 1 to 30 {
                                    li:nth-of-type(#{$i}) {
                                        a {
                                            transform: translateX(-$i * 12px);
                                        }
                                    }
                                }
                                li {
                                    &:hover {
                                        a {
                                            color: $darken-primary-color;
                                        }
                                    }
                                    a {
                                        opacity: 0;
                                        display: inline-block;
                                        width: 100%;
                                        color: $primary-color;
                                        font-family: $poppins-semibold;
                                        text-transform: uppercase;
                                        @include transition(all 0.3s);
                                    }
                                }
                            }
                        }
                        a {
                            display: inline-block;
                            color: $primary-color;
                            font-family: $poppins-semibold;
                            text-transform: uppercase;
                            font-size: 0.875rem;
                            @include transition(all 0.3s);
                        }
                    }
                }
            }
            nav.menu-02 {
                ul {
                    padding: 8px 0;
                    @include flex(row, nowrap, space-between, center);
                    li {
                        @include transition(all 0.3s);
                        &:first-of-type {
                            &:hover {
                                transform: translateX(4px);
                                a {
                                    background: $darken-secondary-color;
                                }
                            }
                            a {
                                color: $white !important;
                                font-family: $raleway-semibold;
                                text-transform: uppercase;
                                background: $secondary-color;
                                padding: 3px 18px 2px;
                                margin: 0 30px 0 0;
                                font-size: 0.875rem;
                                @include border-radius(20px);
                                @include box-shadow(
                                    0 0 10px rgba(0, 0, 0, 0.2)
                                );
                            }
                        }
                        &:last-of-type {
                            &:hover {
                                transform: translateX(2px);
                                a {
                                    &:before {
                                        background: url('../assets/images/header/cadeado.svg');
                                        background-size: contain;
                                        background-repeat: no-repeat;
                                    }
                                }
                            }
                            a {
                                color: $primary-color;
                                font-family: $raleway-bold;
                                text-transform: uppercase;
                                &:before {
                                    content: '';
                                    background: url('../assets/images/header/login-associado.svg');
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    height: 30px;
                                    width: 40px;
                                    display: inline-block;
                                    margin: -8px -6px -10px 0;
                                    @include transition(all 0.3s);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .second-row {
        border-bottom: 1px solid $light-gray;
        > div {
            @include flex(row, nowrap, space-between, center);
            nav.regionais-menu {
                padding: 10px 0 6px;
                width: 238px;
                z-index: 9998;
                @include flex(column, nowrap, space-between, flex-start);
                .toggle-regionais-menu {
                    position: relative;
                    z-index: 100;
                    width: 100%;
                    .toggle {
                        display: flex;
                        padding: 0 0 10px 0;
                        &:hover {
                            img {
                                transform: rotate(90deg);
                            }
                            ul {
                                visibility: visible;
                                transform: translateY(0);
                                li {
                                    a {
                                        opacity: 1;
                                        transform: translateX(0px) !important;
                                    }
                                }
                            }
                        }
                        span {
                            display: inline-block;
                            font-family: $poppins-semibold;
                            font-size: 0.688rem;
                            color: $tertiary-color;
                            padding: 0 8px 0 0;
                        }
                        img {
                            display: inline-block;
                            width: 10px;
                            @include transition(all 0.2s);
                        }
                        ul {
                            position: absolute;
                            visibility: hidden;
                            width: 100%;
                            padding: 10px 0 10px 14px;
                            top: 28px;
                            background: $header-01-background;
                            transform: translateY(-12px);
                            @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                            @include border-radius(0 0 12px 12px);
                            @include transition(all 0.2s);
                            @for $i from 1 to 30 {
                                li:nth-of-type(#{$i}) {
                                    a {
                                        transform: translateX(-$i * 12px);
                                    }
                                }
                            }
                            li {
                                &:hover {
                                    a {
                                        color: $darken-primary-color;
                                    }
                                }
                                a {
                                    opacity: 0;
                                    display: inline-block;
                                    width: 100%;
                                    color: $primary-color;
                                    font-family: $poppins-semibold;
                                    text-transform: uppercase;
                                    @include transition(all 0.4s);
                                }
                            }
                        }
                    }
                }
                > a {
                    img {
                        width: 100% !important;
                        height: 84px;
                    }
                }
            }
            nav.main-menu {
                position: relative;
                ul {
                    margin: 10px 0 0 0;
                    @include flex(row, nowrap, space-between, center);
                    li {
                        position: relative;
                        &:not(:last-of-type) {
                            margin: 0 30px 0 0;
                        }
                        &:last-of-type {
                            margin: 0 104px 0 0;
                        }
                        &:hover {
                            // padding-bottom: 50px;
                            // margin-top: 50px;
                            a {
                                color: $primary-color;
                                transform: translateX(2px);
                            }

                            .sub-menu {
                                visibility: visible;
                                -webkit-transform: translateY(0);
                                transform: translateY(0);
                                li {
                                    display: unset;
                                }
                            }
                        }
                        a {
                            display: inline-block;
                            font-family: $poppins-semibold;
                            font-size: 1.25rem;
                            text-transform: uppercase;
                            color: $tertiary-color;
                            @include transition(all 0.4s);
                        }
                        .sub-menu {
                            z-index: 9000;
                            max-width: 200px;
                            position: absolute;
                            visibility: hidden;
                            /* width: 100%; */
                            padding: 5px 0 5px 15px;
                            top: 22px;
                            background: #f1f1f1;
                            -webkit-transform: translateY(-12px);
                            transform: translateY(-12px);
                            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                            border-radius: 0 0 12px 12px;
                            -webkit-transition: all 0.2s;
                            transition: all 0.2s;
                            li {
                                display: none;
                                margin: 0 104px 0 0 !important;
                                padding: 0 !important;
                            }
                        }
                    }
                }
                > form#search {
                    display: block;
                    position: absolute;
                    top: 26%;
                    right: -18px;
                    width: 0;
                    transform: translate(0%, -50%);
                    @include transition(all 0.4s);
                    &:focus,
                    &:hover,
                    &:active {
                        cursor: pointer;
                        input {
                            display: block;
                        }
                    }
                    input {
                        position: absolute;
                        right: 0;
                        top: -10px;
                        opacity: 0;
                        width: 0;
                        padding: 12px 20px;
                        border: none;
                        font-family: $poppins-semibold;
                        font-size: 1rem;
                        color: $primary-color;
                        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
                        @include border-radius(16px);
                        @include transition(all 0.4s);
                        &::placeholder {
                            color: $primary-color;
                        }
                        &:-ms-input-placeholder {
                            color: $primary-color;
                        }
                        &::-ms-input-placeholder {
                            color: $primary-color;
                        }
                        &::-webkit-input-placeholder {
                            color: $primary-color;
                        }
                    }
                    button {
                        position: absolute;
                        top: 0;
                        right: 8px;
                        width: 42px;
                        border: none;
                        background: none;
                        cursor: pointer;
                        img {
                            background: $white;
                            width: 30px;
                            @include transition(all 0.4s);
                        }
                    }
                }
            }
        }
    }
}

/* Header Mobile
========================================================================== */
header.main-mobile-header {
    position: fixed;
    padding: 10px 12px 12px;
    top: 0;
    left: 2%;
    z-index: 9999;
    background: $primary-color;
    font-family: $raleway-semibold;
    color: $white;
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    &:hover {
        ul {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            li {
                a {
                    opacity: 1;
                }
            }
        }
    }
    span {
        display: block;
    }
    ul {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 30px;
        left: 0;
        background: $primary-color;
        width: 100%;
        padding: 10px 12px;
        transform: translateY(-80px);
        @include transition(all 0.2s);
        @include border-radius(0 0 12px 12px);
        li {
            margin: 0 0 4px 0;
            a {
                opacity: 0;
                display: inline-block;
                width: 100%;
                color: $white;
                font-family: $raleway-semibold;
                font-size: 0.75rem;
                text-transform: uppercase;
                @include transition(all 0.4s);
            }
        }
    }
}
