/**
 * Theme Name: AreaStructure
 * Theme URI: http://www.arealocal.com.br
 * Author: Equipe &Aacute;rea Local
 * Author URI: http://www.arealocal.com.br
 * Description: Esse tema &eacute; um tema personalizado pela &Aacute;rea Local, caso necessite de algum atendimento entre em contato no telefone <a href="tel:+554735219850" target="_blank">(47) 3521-9850</a> ou no e-mail <a href="mailto:suporte@arealocal.com.br" target="_blank">suporte@arealocal.com.br</a>. Para mais informa&ccedil;&otilde;es acesse: <a href="http://www.arealocal.com.br" target="_blank">www.arealocal.com.br</a>.
 * Version: 4.0.0
 * Text Domain: estrutura-basica
**/

/* Fonts
========================================================================== */
@import 'fonts';

/* Global variables
========================================================================== */
// Screen sizes
$sm: 480px;
$tb: 768px;
$dt: 1024px;

// Fonts
$poppins-light: 'poppins-light';
$poppins-thin: 'poppins-thin';
$poppins: 'poppins';
$poppins-medium: 'poppins-medium';
$poppins-semibold: 'poppins-semibold';
$poppins-bold: 'poppins-bold';
$raleway-light: 'raleway-light';
$raleway-thin: 'raleway-thin';
$raleway: 'raleway';
$raleway-medium: 'raleway-medium';
$raleway-semibold: 'raleway-semibold';
$raleway-bold: 'raleway-bold';
$titillium-semibold: 'titillium-semibold';

// Colors
$primary-color: #49a3db;
$secondary-color: #ef6b42;
$tertiary-color: #666;

$strong-primary-color: #0091ca;

$darken-primary-color: darken($primary-color, 16);
$darken-secondary-color: darken($secondary-color, 10);
$darken-tertiary-color: darken($tertiary-color, 10);

$header-01-background: #f1f1f1;
$footer-background: #f1f1f1;

$heading-01: #3b3b3b;

$white: #fff;
$black: #000;
$light-gray: #ccc;
$semi-light-gray: #a2a2a2;
$medium-gray: #333;
$dark-gray: #555;

$danger: #dc3545;
$success: #28a745;

/* Mixins
========================================================================== */
@import 'mixins';

/* Resets
========================================================================== */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline-color: $primary-color;
}

section {
    position: relative;
}

img {
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

fieldset {
    border: none;
    padding: 0;
}

/* Global Stuff
========================================================================== */
.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.al-container {
    width: 1190px;
}

.al-small-container {
    width: 1116px;
}

.al-extra-small-container {
    position: relative;
    width: 844px;
}

.al-container,
.al-small-container,
.al-extra-small-container {
    max-width: 100%;
    margin: 0 auto;
    @media screen and (max-width: $dt) {
        padding: 0 15px;
    }
}

.search-form-active {
    display: block !important;
    width: 102% !important;
    opacity: 1 !important;
}

li.current-menu-item {
    a {
        color: $primary-color !important;
        transform: translateX(2px);
    }
}

.section-title-01 {
    font-family: 'raleway-semibold';
    font-size: 2.125rem;
    color: $heading-01;
    margin: 0 0 42px 0;
    &:before {
        content: '';
        display: inline-block;
        margin: 0 10px -12px 0;
        height: 36px;
        font-weight: bold;
        border-right: 6px solid $primary-color;
    }
    span {
        color: $primary-color;
    }
}

.section-title-02 {
    position: relative;
    font-family: 'raleway-thin';
    font-size: 2.125rem;
    margin: 0 0 10px 0;
    padding-left: 16px;
    color: $white;
    &:before {
        content: '';
        position: absolute;
        top: 8px;
        left: 0;
        height: 80%;
        display: inline-block;
        padding: 1px;
        border-right: 6px solid $white;
    }
}

.notfound-message {
    display: inline-block;
    font-family: 'raleway-semibold';
    font-size: 1.625rem;
    padding-bottom: 8px !important;
    border-bottom: 6px solid $primary-color;
    color: $heading-01;
    margin: 0 0 42px 0;
}

.input-success {
    border-color: $success !important;
}

.input-danger {
    border-color: $danger !important;
}

/* Html / Body
========================================================================== */
html {
    height: 100%;
    overflow: auto;
}

body {
    position: relative;
    background: #fff;
    height: 100%;
    line-height: 1.6;
    padding-right: 0 !important;
    font: normal normal 16px Arial, sans-serif;
    &::-webkit-scrollbar {
        @media screen and (min-width: $dt) {
            width: 10px;
        }
    }
    &::-webkit-scrollbar-track {
        background: #f1f1f1;
    }
    &::-webkit-scrollbar-thumb {
        background: $primary-color;
        &:hover {
            background: $darken-primary-color;
        }
    }
}

/* ASES Validations
========================================================================== */
a.ases-text {
    color: transparent !important;
}

p.ases-text {
    color: transparent !important;
    position: absolute !important;
}

/* Tiny Slider
========================================================================== */
button[data-action='start'],
button[data-action='stop'] {
    display: none !important;
}

#slider-regionais-ow {
    .tns-controls {
        display: none !important;
    }
}

/* Mobmenu Classes
========================================================================== */
.mob-menu-header-holder,
.mobmenu {
    z-index: 9999 !important;
}

.mobmenul-container {
    top: 0 !important;
    right: 2% !important;
    z-index: 0 !important;
    background: $primary-color;
    padding: 10px 10px 0px 10px;
    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
}

.mob-icon-menu,
.mob-menu-icon {
    color: #fff !important;
}

[class^='mob-icon-']:before,
[class*='mob-icon-']:before {
    font-size: 28px !important;
    width: unset !important;
}

/* Contact Form 7
========================================================================== */
.form-container {
    .ajax-loader {
        display: none !important;
    }
    span[role='alert'] {
        display: none !important;
    }
    .wpcf7-not-valid {
        border: 1px solid $danger !important;
        &::placeholder {
            color: $danger !important;
        }
        &:-ms-input-placeholder {
            color: $danger !important;
        }
        &::-ms-input-placeholder {
            color: $danger !important;
        }
        &::-webkit-input-placeholder {
            color: $danger !important;
        }
    }
    div[role='alert'] {
        position: absolute;
        bottom: 0;
        font-weight: bold;
        text-align: center;
        background: #fff;
        width: 100%;
        max-width: 502px;
        margin: 20px 0;
        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
        &.wpcf7-validation-errors {
            border-color: $danger;
            color: $danger;
        }
        &.wpcf7-mail-sent-ok {
            border-color: $success;
            color: $success;
        }
        @media screen and (max-width: $sm) {
            position: initial;
            max-width: 100%;
        }
    }
}

/* Tail Datetime
========================================================================== */
.calendar {
    font-family: $poppins !important;
    .calendar-actions {
        background-color: $primary-color !important;
    }
    .calendar-week {
        background-color: $dark-gray !important;
    }
    span.inner {
        @include border-radius(6px !important);
    }
}

/* Sweet Alert
========================================================================== */
.sweet-alert {
    border: 2px solid $primary-color !important;
    * {
        font-family: $poppins !important;
    }
}

/* Components
========================================================================== */
@import 'header';
@import 'footer';
