/* Maps
========================================================================== */
$main-text: #2d313f;
$color1: #2d313f;
$color2: #ffffff;

@function calculateRem($size) {
    $remSize: $size / 16px;
    @return $remSize * 1rem;
}

@mixin font-size($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

$S: 320px;
$M: 768px;
$L: 1170px;

@mixin MQ($canvas) {
    @if $canvas == S {
        @media only screen and (min-width: $S) {
            @content;
        }
    }
    @else if $canvas == M {
        @media only screen and (min-width: $M) {
            @content;
        }
    }
    @else if $canvas == L {
        @media only screen and (min-width: $L) {
            @content;
        }
    }
}

#google-container {
    position: relative;
    height: 264px !important;
    width: 100%;
    background-color: #e7eaf0;
    @include border-radius(16px);
    @include MQ(M) {
    	height: 300px;
    }
    @include MQ(L) {
    	height: 356px;
    }
}

section.section-single-eventos,
section.section-single-agentes-digitais {
    .localizacao {
        #cd-google-map {
            position: relative;
        }
        #cd-zoom-in, #cd-zoom-out {
            height: 32px;
            width: 32px;
            margin-left: 10px;
            background-image: url('../assets/images/cd-icon-controller.svg');
            background-color: rgba($primary-color, .9);
            background-repeat: no-repeat;
            background-size: 32px 64px;
            cursor: pointer;
            .no-touch &:hover {
                background-color: rgba($primary-color, 1);
            }
            @include MQ(M) {
                margin-left: 50px;
            }
        }
        #cd-zoom-in {
            background-position: 50% 0;
            margin-top: 10px;
            margin-bottom: 1px;
            @include MQ(M) {
                margin-top: 50px;
            }
        }
        #cd-zoom-out {
            background-position: 50% -32px;
        }
    }
}
