/* Mixins
========================================================================== */
@mixin translate($args) {
	transform: translate($args);
}

@mixin border-radius($args) {
	border-radius: $args;
}

@mixin transition($args) {
	transition: $args;
}

@mixin flex($direction, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direction;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;
}

@mixin scale($args) {
	transform: scale($args);
}

@mixin box-shadow($args) {
	box-shadow: $args;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} {
        @content;
    }
    @-moz-keyframes #{$name} {
        @content;
    }
    @-ms-keyframes #{$name} {
        @content;
    }
    @-o-keyframes #{$name} {
        @content;
    }
    @keyframes #{$name} {
        @content;
    }
}

@mixin animate($val) {
    animation: $val;
}
