/* Imports
========================================================================== */
@import 'index';
@import 'pagination';
@import 'breadcrumb';

/* Notícias
========================================================================== */
section.section-noticias {
    padding: 30px 0 0 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 0 0;
    }
    > .al-small-container {
        > .noticias-recentes {
            margin: 0 0 40px 0;
            > h1 {
                display: inline-block !important;
            }
            > p {
                float: right;
                color: $medium-gray;
                font-family: $poppins-medium;
                @media screen and (max-width: $sm) {
                    float: none !important;
                }
                span {
                    color: $primary-color;
                    font-family: $poppins-semibold;
                }
            }
            > .noticias {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media screen and (max-width: $dt) {
                    display: block;
                }
                article {
                    width: 49.2%;
                    display: block;
                    margin: 0 14px 14px 0;
                    @include transition(all .3s);
                    @media screen and (max-width: $dt) {
                        width: 100%;
                        margin: 0 0 20px 0;
                    }
                    &:nth-of-type(even) {
                        margin-right: 0;
                    }
                    &:hover {
                        transform: translateY(-2px);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                    }
                    > a {
                        display: block;
                        position: relative;
                        .image-wrapper {
                            img {
                                display: block;
                                width: 100%;
                                height: 286px;
                                object-fit: cover;
                                object-position: center;
                                @media screen and (max-width: $tb) {
                                    height: 212px !important;
                                }
                            }
                        }
                        .content {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            min-height: 106px;
                            background: rgba($primary-color, 0.9);
                            padding: 8px 64px 8px 12px;
                            @include flex(column, nowrap, flex-start, flex-start);
                            @media screen and (max-width: $dt) {
                                height: unset;
                            }
                            @media screen and (max-width: $tb) {
                                padding: 8px 12px;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                background: url('../assets/images/decoracao-card-grande.png');
                                background-repeat: no-repeat;
                                height: 100%;
                                width: 132px;
                                @media screen and (max-width: $dt) {
                                    display: none;
                                }
                            }
                            h2 {
                                font-family: $raleway-semibold;
                                color: $white;
                                margin: 0 0 6px 0;
                                @media screen and (max-width: $tb) {
                                    font-size: 1.125rem;
                                }
                            }
                            span {
                                font-family: $poppins;
                                color: $white;
                            }
                        }
                    }
                    &.small {
                        width: 32.2%;
                        margin: 0;
                        @media screen and (max-width: $dt) {
                            width: 100%;
                            margin-bottom: 14px;
                        }
                        .image-wrapper {
                            img {
                                width: 359px;
                                height: 187px;
                                @media screen and (max-width: $dt) {
                                    width: 100%;
                                    height: 286px;
                                    }
                            }
                        }
                        .content {
                            min-height: 144px;
                            @media screen and (max-width: $dt) {
                                min-height: 106px;
                            }
                        }
                    }
                }
            }
        }
        > .noticias-search-bar {
            margin: 0 0 40px 0;
            padding: 0 0 6px 0;
            border-bottom: 2px solid $primary-color;
            form {
                margin: 0 0 18px 0;
                @include flex(row, nowrap, space-between, flex-start);
                @media screen and (max-width: $tb) {
                    @include flex(column, nowrap, center, flex-start);
                }
                @media screen and (max-width: $sm) {
                    @include flex(column, nowrap, center, center);
                }
                input {
                    width: 100%;
                    max-width: 860px;
                    padding: 6px 16px;
                    border: 1px solid $primary-color;
                    font-family: $raleway-semibold;
                    color: $primary-color;
                    @include border-radius(10px);
                    @media screen and (max-width: $tb) {
                        margin: 0 0 10px 0;
                    }
                    &::placeholder {
                        font-family: 'FontAwesome';
                    }
                    &:hover,
                    &:focus {
                        @include transition(all .3s);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                }
                button {
                    display: inline-block;
                    border: none;
                    background: $primary-color;
                    color: $white;
                    font-family: $raleway-semibold;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    padding: 7px 68px;
                    cursor: pointer;
                    @include border-radius(10px);
                    @include transition(all .3s);
                    &:hover {
                        transform: translateY(-2px);
                        @include transition(all .3s);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                }
            }
            nav.tabs {
                ul {
                    margin: 0 0 4px;
                    @include flex(row, wrap, flex-start, flex-start);
                    @media screen and (max-width: $tb) {
                        @include flex(row, wrap, center, flex-start);
                    }
                    li.tab {
                        @media screen and (max-width: $tb) {
                            margin: 0 10px 0 0 !important;
                            &:after {
                                display: none !important;
                            }
                        }
                        &:not(:last-of-type) {
                            margin: 0 20px 0 0;
                        }
                        a {
                            display: inline-block;
                            font-family: $raleway-semibold;
                            font-size: 0.75rem;
                            color: $semi-light-gray;
                            text-transform: uppercase;
                            @include transition(all .3s);
                            &:hover {
                                color: $primary-color;
                                transform: translateY(-1px);
                                @include transition(all .3s);
                            }
                            &.active {
                                color: $primary-color !important;
                            }
                        }
                    }
                }
            }
        }
        > .noticias {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            @media screen and (max-width: $dt) {
                display: block;
            }
            > article {
                width: 49.2%;
                display: block;
                margin: 0 14px 14px 0;
                @include transition(all .3s);
                @media screen and (max-width: $dt) {
                    width: 100%;
                    margin: 0 0 20px 0;
                }
                &:nth-of-type(even) {
                    margin-right: 0;
                }
                &:hover {
                    transform: translateY(-2px);
                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                }
                > a {
                    display: block;
                    position: relative;
                    .image-wrapper {
                        img {
                            display: block;
                            width: 100%;
                            height: 286px;
                            object-fit: cover;
                            object-position: center;
                            @media screen and (max-width: $tb) {
                                height: 212px !important;
                            }
                        }
                    }
                    .content {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        min-height: 106px;
                        background: rgba($primary-color, 0.9);
                        padding: 8px 64px 8px 12px;
                        @include flex(column, nowrap, flex-start, flex-start);
                        @media screen and (max-width: $dt) {
                            height: unset;
                        }
                        @media screen and (max-width: $tb) {
                            padding: 8px 12px;
                        }
                        &:after {
                            content: '';
                            position: absolute;
                            top: 0;
                            right: 0;
                            background: url('../assets/images/decoracao-card-grande.png');
                            background-repeat: no-repeat;
                            height: 100%;
                            width: 132px;
                            @media screen and (max-width: $dt) {
                                display: none;
                            }
                        }
                        h2 {
                            font-family: $raleway-semibold;
                            color: $white;
                            margin: 0 0 6px 0;
                            @media screen and (max-width: $tb) {
                                font-size: 1.125rem;
                            }
                        }
                        span {
                            font-family: $poppins;
                            color: $white;
                        }
                    }
                }
            }
        }
    }
}
