/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Comitês
========================================================================== */
section.section-materiais {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 30px;
    }
    > .al-small-container {
        h1 {
            margin: 0 0 40px 0 !important;
        }
        > p {
            margin: 0 0 60px 0;
            font-family: $poppins;
            font-size: 1rem;
            color: #474d54;
            line-height: 1.4;
            @media screen and (max-width: $sm) {
                margin: 0 0 30px 0;
            }
        }
        .materiais {
            > div {
                @include flex(row, wrap, space-between, flex-start);
                @media screen and (max-width: $dt) {
                    @include flex(column, nowrap, flex-start, flex-start);
                }
                > article {
                    border: 2px solid $strong-primary-color;
                    overflow: hidden;
                    margin: 0 0 30px 0;
                    @include flex(row, nowrap, flex-start, flex-start);
                    @include border-radius(10px 0 0 10px);
                    @media screen and (max-width: 536px) {
                        @include flex(column, nowrap, center, center);
                        @include border-radius(10px);
                    }
                    > img {
                        height: 242px;
                        width: 304px;
                        object-fit: cover;
                        object-position: center;
                        @media screen and (max-width: 536px) {
                            width: 100%;
                        }
                    }
                    .content {
                        display: table;
                        position: relative;
                        background: $strong-primary-color;
                        text-align: center;
                        padding: 22px 16px 10px;
                        height: 242px;
                        max-height: 242px;
                        @media screen and (max-width: 536px) {
                            width: 100%;
                            height: 100%;
                        }
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: -100px;
                            background: url('../assets/images/a-associacao/decoracao-card-azul.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100%;
                            width: 100px;
                            @media screen and (max-width: $dt) {
                                display: none;
                            }
                        }
                        h2 {
                            text-align: left;
                            font-family: $raleway-bold;
                            font-size: 1.375rem;
                            color: $white;
                            max-width: 204px;
                            @media screen and (max-width: 536px) {
                                display: block;
                                max-width: 100%;
                                text-align: center;
                            }
                        }
                        a {
                            overflow: hidden;
                            display: table-footer-group;
                            text-align: center;
                            font-family: $poppins;
                            font-size: 1.125rem;
                            color: $white;
                            &:hover {
                                > img {
                                    background-color: $secondary-color;
                                    transform: translateX(2px);
                                }
                            }
                            @media screen and (max-width: 536px) {
                                display: block;
                            }
                            > img {
                                overflow: hidden;
                                border-radius: 50%;
                                display: block;
                                width: 36px;
                                margin: 2px auto 0 auto;
                                @include transition(all 0.3s);
                            }
                        }
                    }
                }
            }
        }
    }
}
