/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Associe-se
========================================================================== */
section.section-associe-se {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0;
    }
    > .al-small-container {
        form {
            input:invalid,
            select:invalid {
                border: 1px solid $danger !important;
            }
            div[class^="group-"] {
                margin: 0 0 30px 0;
                @include keyframes(fade-in) {
                    from {
                        opacity: 0;
                        transform: translateX(-800px);
                    }
                    to {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
                @include flex(row, wrap, space-between, flex-start);
                @include transition(all .3s);
                &:not(.current) {
                    display: none;
                    opacity: 0;
                }
                &.current {
                    opacity: 1;
                    animation: fade-in 1s;
                    @include flex(row, wrap, space-between, flex-start);
                }
                > div {
                    width: 48%;
                    @media screen and (max-width: $tb) {
                        width: 100%;
                    }
                    label {
                        display: block;
                        margin: 0 0 6px 0;
                        font-family: $raleway-semibold;
                        font-size: 0.938rem;
                        color: $primary-color;
                        text-transform: uppercase;
                        @media screen and (max-width: $sm) {
                            font-size: 0.75rem;
                        }
                        span {
                            color: $tertiary-color;
                            text-transform: initial !important;
                            font-size: 0.875rem;
                        }
                    }
                    input,
                    select {
                        display: block;
                        width: 100%;
                        margin: 0 0 26px 0;
                        padding: 6px 8px;
                        border: 1px solid $primary-color;
                        color: $tertiary-color;
                        font-family: $raleway-semibold;
                        background: none;
                        @include transition(all .3s);
                        @include border-radius(10px);
                        @media screen and (max-width: $tb) {
                            margin: 0 0 12px 0;
                        }
                        &:hover,
                        &:focus {
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                        }
                    }
                    select {
                        height: 28px;
                    }
                }
            }
        }
        .actions {
            @include flex(row, nowrap, space-between, flex-start);
            button,
            input[type="submit"] {
                color: $white;
                font-family: $raleway-semibold;
                font-size: 1.5rem;
                text-transform: uppercase;
                border: none;
                padding: 7px 42px;
                cursor: pointer;
                @include border-radius(10px);
                @include transition(all .3s);
                @include keyframes('fadeInInput') {
                    from {
                        opacity: 0;
                    }
                    to {
                        opacity: 1;
                    }
                }
                @include keyframes('fadeOutInput') {
                    from {
                        opacity: 1;
                    }
                    to {
                        opacity: 0;
                    }
                }
                &.active {
                    display: inline-block;
                    animation: fadeInInput 1s;
                    opacity: 1;
                }
                &.inactive {
                    display: none;
                    animation: fadeOutInput 1s;
                    opacity: 0;
                }
                &:disabled {
                    opacity: 0.6;
                    pointer-events: none;
                }
                &:hover {
                    transform: translateY(-2px);
                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    @media screen and (max-width: $tb) {
                        transform: none;
                    }
                }
                @media screen and (max-width: $sm) {
                    width: 48%;
                    padding: 7px;
                }
            }
            input[type="submit"] {
                display: none;
                opacity: 0;
                background: $secondary-color;
            }
            button {
                display: inline-block;
                background: $primary-color;
            }
        }
    }
}
