/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Convênios e Benefícios
========================================================================== */
section.section-convenios-e-beneficios {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0;
    }
    > .al-small-container {
        .main-content {
            margin: 0 0 40px 0;
            @include flex(row, nowrap, space-between, flex-start);
            @media screen and (max-width: $tb) {
                @include flex(column, nowrap, flex-start, center);
            }
            > p {
                max-width: 624px;
                font-family: $poppins;
                font-size: 1rem;
                color: $dark-gray;
                line-height: 1.4;
                word-break: break-word;
                @media screen and (max-width: $tb) {
                    max-width: 100%;
                    width: 100%;
                    margin: 0 auto 20px;
                }
            }
            .cta {
                text-align: center;
                h2 {
                    font-family: $poppins-medium;
                    font-size: 1.125rem;
                    line-height: 1.4;
                    color: $dark-gray;
                    margin: 0 0 10px 0;
                    @media screen and (max-width: $tb) {
                        margin: 0;
                    }
                }
                a {
                    display: inline-block;
                    background: $secondary-color;
                    font-family: $raleway-bold;
                    font-size: 1.375rem;
                    text-transform: uppercase;
                    color: $white;
                    padding: 8px 32px;
                    margin: 0 auto;
                    align-self: center;
                    @include border-radius(14px);
                    @include transition(all .3s);
                    @media screen and (max-width: $dt) {
                        padding: 8px 16px;
                        text-align: center;
                    }
                    @media screen and (max-width: $tb) {
                        margin: 14px 0;
                    }
                    @media screen and (max-width: $sm) {
                        margin: 14px auto;
                    }
                    &:hover {
                        transform: translateY(-1px);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                    }
                }
            }
        }
        .convenios-e-beneficios {
            .convenio-wrapper {
                background: #fafafa;
                border: 1px solid $primary-color;
                @include border-radius(12px);
                @include box-shadow(0 0 6px rgba(0, 0, 0, 0.2));
                &:not(:last-of-type) {
                    margin: 0 0 60px 0;
                    @media screen and (max-width: $dt) {
                        margin: 0 0 30px 0;
                    }
                }
                &.active {
                    > header {
                        > img {
                            &.seta {
								transform: scaleY(-1);
                            }
                        }
                    }
                    > article.convenio {
                        display: block !important;
                        animation: fadeIn 1s;
                    }
                }
                > header {
                    position: relative;
                    padding: 16px 38px;
                    cursor: pointer;
                    @include flex(row, nowrap, flex-start, center);
                    @media screen and (max-width: $dt) {
                        @include flex(row, nowrap, space-between, center);
                    }
                    @media screen and (max-width: $sm) {
                        padding: 12px 18px !important;
                    }
                    > img {
                        display: inline-block;
                        @include transition(all .3s);
                        &.icone {
                            width: 70px;
                            margin: 0 28px 0 0;
                            @media screen and (max-width: $tb) {
                                width: 56px;
                            }
                        }
                        &.seta {
                            position: absolute;
                            top: 50%;
                            right: 60px;
                            width: 40px;
                            @media screen and (max-width: $dt) {
                                position: initial;
                                margin: 0 0 0 20px;
                            }
                            @media screen and (max-width: $sm) {
                                display: none;
                            }
                        }
                    }
                    > .content {
                        flex: auto;
                        h2 {
                            font-size: 1.375rem;
                            color: $dark-gray;
                            font-family: $poppins;
                            line-height: 1;
                            @media screen and (max-width: $tb) {
                                font-size: 1.125rem;
                            }
                            @media screen and (max-width: $sm) {
                                font-size: 1rem;
                            }
                        }
                        p {
                            font-size: 1rem;
                            font-family: $poppins;
                            color: $dark-gray;
                            line-height: 1.4;
                            margin: 2px 0 0 0;
                            @media screen and (max-width: $sm) {
                                margin: 0;
                            }
                        }
                    }
                }
                > article.convenio {
                    position: relative;
                    display: none;
                    padding: 32px 38px;
                    @include transition(all .3s);
                    @include keyframes('fadeIn') {
                        0% {
                            opacity: 0;
                        }
                        100% {
                            opacity: 1;
                        }
                    }
                    &:first-of-type {
                        border-top: 2px solid $primary-color;
                    }
                    &:last-of-type {
                        padding: 32px 38px 58px;
                    }
                    &:not(:last-of-type) {
                        > .content {
                            margin: 0 0 40px 0;
                        }
                        &:after {
                            content: '';
                            width: 100%;
                            display: block;
                            background: $primary-color;
                            padding: 1px;
                        }
                    }
                    @media screen and (max-width: $sm) {
                        padding: 12px 18px !important;
                    }
                    header {
                        margin: 0 0 20px 0;
                        @include flex(column, nowrap, flex-start, flex-start);
                        h3 {
                            margin: 0 0 2px 0 !important;
                            font-size: 1.375rem !important;
                            &:before {
                                margin: 0 6px -6px 0 !important;
                                height: 22px !important;
                                border-right: 4px solid $primary-color !important;
                            }
                        }
                        p {
                            font-size: 0.875rem;
                            font-family: $poppins;
                            color: $primary-color;
                            line-height: 1.4;
                            margin: 0 0 0 10px;
                        }
                    }
                    > .content {
                        @include flex(row, nowrap, space-between, flex-start);
                        @media screen and (max-width: 638px) {
                            @include flex(column, nowrap, center, center);
                        }
                        img {
                            width: 240px;
                            height: auto;
                            margin: 0 26px 0 0;
                            @media screen and (max-width: $sm) {
                                margin: 0 auto 20px;
                                width: auto;
                            }
                        }
                        .text {
                            @media screen and (max-width: $sm) {
                                width: 100%;
                                text-align: center;
                            }
                            strong, b {
                                font-weight: bold;
                                color: $black;
                            }
                            p, span, div {
                                font-size: 1.125rem !important;
                                font-family: $poppins !important;
                                color: $dark-gray !important;
                                line-height: 1.4;
                                margin: 0 0 20px 0;
                                word-break: break-word;
                                @media screen and (max-width: $tb) {
                                    font-size: 1rem;
                                }
                                @media screen and (max-width: $sm) {
                                    text-align: initial;
                                }
                                a {
                                    font-family: $poppins;
                                    color: $primary-color;
                                    text-decoration: underline;
                                }
                            }
                            table {
                                width: 100% !important;
                            }
                            ul, ol {
                                list-style: disc;
                                li {
                                    list-style: disc;
                                    p, span, strong, b {
                                        margin: 0 !important;
                                    }
                                }
                            }
                            > a {
                                display: inline-block;
                                background: $primary-color;
                                font-size: 0.875rem;
                                font-family: $raleway-bold;
                                text-transform: uppercase;
                                color: $white;
                                padding: 7px 46px;
                                @include border-radius(10px);
                                @include transition(all .3s);
                                &:hover {
                                    transform: translateY(-1px);
                                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
