/* Imports
========================================================================== */
@import 'index';
@import 'maps';
@import 'breadcrumb';

/* Contato
========================================================================== */
section.section-contato {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0;
    }
    > .al-small-container {
        .localizacao {
            @media screen and (max-width: $tb) {
                margin: 20px 0 0 0;
            }
            h2 {
                margin-bottom: 30px !important;
            }
            .infos {
                @include flex(row, nowrap, space-between, flex-start);
                @media screen and (max-width: $sm) {
                    @include flex(column, nowrap, flex-start, flex-start);
                }
                p {
                    margin: 0 0 10px 0;
                    color: $dark-gray;
                    font-family: $poppins;
                    font-size: 1rem;
                    @media screen and (max-width: $sm) {
                        margin: 0 0 6px 0;
                    }
                    img {
                        width: 28px;
                        margin: 0 2px -8px 0;
                    }
                }
                > a {
                    display: inline-block;
                    margin: 6px 0 10px 0;
                    background: $primary-color;
                    color: $white;
                    font-family: $raleway-semibold;
                    font-size: 1rem;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 4px 22px;
                    cursor: pointer;
                    @include border-radius(20px);
                    @include transition(all .3s);
                    @media screen and (max-width: $sm) {
                        margin: 0 0 10px 0;
                    }
                    &:hover {
                        background: $darken-primary-color;
                        transform: translateY(-2px);
                        @include transition(all .3s);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                    }
                }
            }
            .mapa {
                iframe {
                    height: 300px;
                    width: 100% !important;
                    @include border-radius(16px);
                }
            }
        }
    }
    > .row-form {
        @include flex(row, nowrap, space-between, flex-start);
        @media screen and (max-width: $dt) {
            padding: 0 15px;
        }
        @media screen and (max-width: $tb) {
            @include flex(column, nowrap, space-between, flex-start);
        }
        .row-form-left {
            height: 100%;
            width: calc(53% - 100px);
            @include flex(column, nowrap, flex-start, flex-end);
            @media screen and (max-width: $tb) {
                display: block;
                width: 100%;
            }
            > img {
                margin: 0 0 40px 0;
                height: 174px;
                width: 100%;
                object-fit: cover;
                object-position: right;
                @media screen and (max-width: $tb) {
                    margin: 0 0 20px 0;
                }
            }
            .content {
                margin: 0 100px 0 0;
                @media screen and (min-width: $dt + 1) {
                    min-width: 392px;
                }
                @media screen and (max-width: 868px) {
                    margin: 0;
                }
                > p {
                    margin: 0 0 20px 0;
                    color: $dark-gray;
                    font-family: $poppins;
                    font-size: 1rem;
                    line-height: 1.4;
                    max-width: 400px;
                    &:last-of-type {
                        margin: 0 0 30px 0;
                    }
                    @media screen and (max-width: $tb) {
                        max-width: 100%;
                    }
                }
                .contacts {
                    p {
                        display: flex;
                        align-items: center;
                        color: $dark-gray;
                        font-family: $poppins;
                        font-size: 1.25rem;
                        margin: 0 0 20px 0;
                        img {
                            margin: 0 10px 0 0;
                            width: 32px;
                        }
                    }
                }
            }
        }
        .row-form-right {
            display: block;
            width: 47%;
            @media screen and (max-width: $tb) {
                width: 100%;
            }
            .form-container {
                position: relative;
                width: 100%;
                @include flex(row, nowrap, flex-start, flex-start);
                @media screen and (max-width: $dt) {
                    display: block;
                }
                p.cptch_block {
                    margin-bottom: 30px !important;
                    @media screen and (max-width: $tb) {
                        margin-bottom: 20px !important;
                    }
                }
                div[role=alert] {
                    position: initial !important;
                }
                form {
                    width: 518px;
                    @media screen and (max-width: $dt) {
                        width: 100%;
                    }
                    label {
                        display: inline-block;
                        margin: 0 0 6px 0;
                        font-family: $raleway-semibold;
                        font-size: 0.938rem;
                        color: $primary-color;
                        text-transform: uppercase;
                        @media screen and (max-width: $sm) {
                            font-size: 0.75rem;
                        }
                        span {
                            color: $tertiary-color;
                            text-transform: initial !important;
                            font-size: 0.875rem;
                        }
                    }
                    input,
                    textarea {
                        width: 100%;
                        margin: 0 0 26px 0;
                        padding: 6px 8px;
                        border: 1px solid $primary-color;
                        color: $tertiary-color;
                        font-family: $raleway-semibold;
                        background: none;
                        @include transition(all .3s);
                        @include border-radius(10px);
                        @media screen and (max-width: $tb) {
                            margin: 0 0 12px 0;
                        }
                        &:hover,
                        &:focus {
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                        }
                    }
                    input[type="submit"] {
                        display: inline-block;
                        width: initial;
                        color: $white;
                        font-family: $raleway-semibold;
                        font-size: 1.5rem;
                        background: $secondary-color;
                        text-transform: uppercase;
                        border: none;
                        padding: 7px 82px;
                        cursor: pointer;
                        @include border-radius(12px);
                        @include transition(all .3s);
                        &:hover {
                            transform: translateY(-2px);
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                        }
                    }
                }
            }
        }
    }
}
