/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Diretoria
========================================================================== */
section.section-diretoria {
    padding: 30px 0 60px 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0;
    }
    > .al-small-container {
        > div {
            @include flex(row, nowrap, flex-start, flex-start);
            @media screen and (max-width: $tb) {
                @include flex(column, nowrap, flex-start, flex-start);
            }
            nav.gestoes {
                width: 36%;
                @media screen and (max-width: $tb) {
                    width: 100%;
                    margin: 0 0 30px 0;
                }
                ul {
                    li {
                        margin: 0 0 6px 0;
                        &:hover {
                            a {
                                transform: translateX(2px);
                            }
                        }
                        a {
                            display: inline-block;
                            font-family: $raleway;
                            font-size: 1.5rem;
                            color: $heading-01;
                            @include transition(all .3s);
                            &.active {
                                font-family: $raleway-bold;
                                color: $primary-color;
                            }
                        }
                    }
                }
            }
            .diretores {
                width: 100%;
                section {
                    h2 {
                        font-size: 1.75rem;
                        margin: 0 0 12px 0;
                        &:before {
                            height: 23px;
                            margin: 0px 4px -2px 0;
                            border-right: 3px solid #49a3db;
                        }
                    }
                    > div {
                        @include flex(row, wrap, flex-start, flex-start);
                        @media screen and (max-width: $tb) {
                            @include flex(row, wrap, space-between, flex-start);
                        }
                        > article {
                            margin: 0 28px 28px 0;
                            max-width: 250px;
                            text-align: center;
                            color: $white;
                            @media screen and (max-width: $tb) {
                                width: 46%;
                                max-width: 100%;
                                margin: 0 0 28px 0 !important;
                            }
                            @media screen and (max-width: $sm) {
                                width: 100%;
                                max-width: 100%;
                                margin: 0 0 28px 0 !important;
                            }
                            &:nth-of-type(3n) {
                                margin: 0 0 28px 0;
                                @media screen and (max-width: $dt) {
                                    margin: 0 28px 28px 0;
                                }
                                @media screen and (max-width: $tb) {
                                    margin: 0 0 28px 0 !important;
                                }
                            }
                            > div:not(.content) {
                                position: relative;
                                &:after {
                                    content: '';
                                    position: absolute;
                                    top: -4px;
                                    right: -7px;
                                    background: url('../assets/images/decoracao-card-grande.png');
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    height: 100%;
                                    width: 100px;
                                    @media screen and (max-width: $dt) {
                                        display: none;
                                    }
                                }
                                img {
                                    width: 100vw;
                                    height: 192px;
                                    object-fit: cover;
                                    object-position: center;
                                    @media screen and (max-width: $tb) {
                                        max-height: 186px;
                                    }
                                }
                            }
                            .content {
                                display: block;
                                min-height: 210px;
                                margin: -6px 0 0 0;
                                padding: 14px 16px;
                                background: $strong-primary-color;
                                @media screen and (max-width: $tb) {
                                    height: 234px;
                                }
                                @media screen and (max-width: $sm) {
                                    height: 220px;
                                }
                                h3 {
                                    font-family: $raleway-bold;
                                    font-size: 1.375rem;
                                    margin: 0 0 12px 0;
                                }
                                p {
                                    font-family: $raleway;
                                    font-size: 0.875rem;
                                    &.cargo {
                                        font-family: $raleway-semibold;
                                        font-size: 1rem;
                                        text-transform: uppercase;
                                        margin: 0 0 4px 0;
                                    }
                                    &.empresa {
                                        font-family: $raleway-medium;
                                        font-size: 1rem;
                                        text-transform: uppercase;
                                        margin: 0 0 6px 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
