/* Imports
========================================================================== */
@import 'index';
@import 'pagination';
@import 'breadcrumb';

/* Agentes Digitais
========================================================================== */
section.section-agentes-digitais {
    padding: 30px 0 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 0;
    }
    > .al-small-container {
        > .agentes-digitais-search-bar {
            margin: 0 0 40px 0;
            form {
                @media screen and (max-width: $dt) {
                    @include flex(row, nowrap, space-between, flex-start);
                }
                @media screen and (max-width: 596px) {
                    @include flex(column, nowrap, space-between, flex-start);
                }
                select {
                    position: relative;
                    padding: 6px 14px;
                    font-size: 0.875rem;
                    margin: 0 20px 0 0;
                    width: 274px;
                    height: 30px;
                    border: 1px solid $primary-color;
                    color: $tertiary-color;
                    font-family: $raleway-semibold;
                    background: none;
                    cursor: pointer;
                    @include transition(all .3s);
                    @include border-radius(10px);
                    @media screen and (max-width: $dt) {
                        width: 100%;
                        margin: 0 6px 12px 0;
                    }
                    &:hover,
                    &:focus {
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        display: block;
                        background: url('../assets/images/header/flecha-direita.svg');
                        background-repeat: no-repeat;
                        background-size: contain;
                        height: 20px;
                        width: 20px;
                    }
                }
                input {
                    padding: 7px 14px;
                    font-size: 0.875rem;
                    margin: 0 30px 0 0;
                    border: 1px solid $primary-color;
                    color: $primary-color;
                    font-family: $raleway-semibold;
                    width: 338px;
                    @include transition(all .3s);
                    @include border-radius(10px);
                    @media screen and (max-width: $dt) {
                        width: 100%;
                        margin: 0 6px 12px 0;
                    }
                    &:hover,
                    &:focus {
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                    &::placeholder {
                        text-transform: uppercase;
                    }
                    &:-ms-input-placeholder {
                        text-transform: uppercase;
                    }
                    &::-ms-input-placeholder {
                        text-transform: uppercase;
                    }
                    &::-webkit-input-placeholder {
                        text-transform: uppercase;
                    }
                }
                button {
                    display: inline-block;
                    border: none;
                    background: $primary-color;
                    color: $white;
                    font-family: $raleway-semibold;
                    font-size: 0.875rem;
                    text-transform: uppercase;
                    padding: 8px 34px;
                    cursor: pointer;
                    @include border-radius(10px);
                    @include transition(all .3s);
                    @media screen and (max-width: $dt) {
                        width: 100%;
                        margin: 0 0 12px 0;
                    }
                    &:hover {
                        transform: translateY(-2px);
                        @include transition(all .3s);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                    }
                }
            }
        }
        > .agentes-digitais {
            @include flex(row, wrap, flex-start, flex-start);
            @media screen and (max-width: $dt) {
                @include flex(row, wrap, space-evenly, flex-start);
            }
            article {
                width: 250px;
                overflow: hidden;
                border: 1px solid $strong-primary-color;
                text-align: center;
                margin: 0 38px 30px 0;
                @include border-radius(10px 10px 0 0);
                @include transition(all .3s);
                @media screen and (max-width: $dt) {
                    margin: 0 0 30px !important;
                }
                &:hover {
                    transform: translateY(-2px);
                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                }
                &:nth-of-type(4n) {
                    margin-right: 0;
                }
                > a {
                    img {
                        height: 176px;
                        width: 100vw;
                        object-fit: contain;
                        object-position: center;
                    }
                }
                .content {
                    margin: -4px 0 0 0;
                    background: $strong-primary-color;
                    padding: 14px 6px;
                    min-height: 100px;
                    > a {
                        color: $white;
                        h2 {
                            text-transform: uppercase;
                            font-family: $raleway-semibold;
                            font-size: 1.125rem;
                            margin: 0 0 10px 0;
                            word-break: break-word;
                        }
                        p {
                            font-family: $raleway;
                            font-size: 1rem;
                        }
                    }
                }
            }
            .notfound-filter {
                color: $secondary-color;
            }
        }
    }
}
