/* Pagination
========================================================================== */
.pagination {
    text-align: center;
    margin: 40px 0;
    a,
    span {
        display: inline-block;
        background: $primary-color;
        color: $white;
        font-family: $raleway-bold;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 8px 16px;
        @include border-radius(12px);
        @include transition(all .3s);
        @media screen and (max-width: $sm) {
            font-size: 0.875rem;
            margin: 0 0 6px;
        }
        &:hover {
            transform: translateY(-2px);
            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
        }
        &.dots,
        &.current {
            pointer-events: none;
            opacity: 0.6;
        }
    }
}
