/* Imports
========================================================================== */
@import 'index';
@import 'pagination';
@import 'breadcrumb';

/* Search
========================================================================== */
section.section-search {
    padding: 30px 0 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 0;
    }
    > .al-small-container {
        h1 {
            &:before {
                margin-right: 0 !important;
            }
            span {
                color: $primary-color !important;
            }
        }
        .results {
            @include flex(row, wrap, space-between, flex-start);
            @media screen and (max-width: $dt) {
                justify-content: center;
            }
            article {
                position: relative;
                display: block;
                overflow: hidden;
                width: 548px;
                height: 300px;
                margin: 0 0 20px 0;
                @include transition(all .3s);
                &:after {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: url('../assets/images/decoracao-card-grande.png');
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 100px;
                    @media screen and (max-width: $dt) {
                        display: none;
                    }
                }
                &:hover {
                    transform: translateY(-2px);
                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                }
                @media screen and (max-width: $tb) {
                    margin: 0 0 20px 0;
                }
                > a {
                    img {
                        width: 548px;
                        height: 300px;
                    }
                }
                .content {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    background: rgba($primary-color, 0.9);
                    padding: 8px 12px;
                    @include flex(column, nowrap, space-between, flex-start);
                    h2 {
                        font-family: $raleway-semibold;
                        color: $white;
                        margin: 0 0 6px 0;
                        @media screen and (max-width: $tb) {
                            font-size: 1.125rem !important;
                        }
                    }
                    span {
                        font-family: $poppins;
                        color: $white;
                    }
                }
            }
        }
    }
}
