/* Imports
========================================================================== */
@import 'index';
@import 'maps';
@import 'breadcrumb';

/* Single Eventos
========================================================================== */
section.section-single-eventos {
    padding: 30px 0 0 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 0 0;
    }
    > .al-small-container {
        > .evento {
            margin: 0 0 50px 0;
            > h1 {
                word-break: break-word;
                margin: 0 0 40px 0 !important;
            }
            h2 {
                word-break: break-word;
                margin: 0 0 30px 0 !important;
            }
            > time {
                display: block;
                margin: -32px 0 30px 18px;
                font-family: $poppins;
                color: $medium-gray;
                @media screen and (max-width: $dt) {
                    margin-left: 0;
                }
            }
            > img {
                display: block;
                margin: 0 auto 40px;
                max-height: 460px;
                object-fit: cover;
                object-position: center;
                @media screen and (max-width: $tb) {
                    width: 100vw;
                    height: 172px !important;
                }
            }
            .content {
                margin: 0 0 20px 0;
                @include flex(row, nowrap, space-between, center);
                @media screen and (max-width: $tb) {
                    margin: 0 0 30px 0;
                    @include flex(column, nowrap, flex-start, center);
                }
                .text {
                    width: 68%;
                    @media screen and (max-width: $tb) {
                        width: 100%;
                    }
                    p {
                        font-family: $poppins;
                        font-size: 1rem;
                        line-height: 1.4;
                        text-align: justify;
                        color: $dark-gray;
                        margin: 0 0 20px 0;
                    }
                    a {
                        color: $primary-color;
                    }
                }
                .calendar-link {
                    text-align: center;
                    > p {
                        color: $dark-gray;
                        font-family: $poppins-semibold;
                        font-size: 1.25rem;
                    }
                    > a {
                        display: inline-block;
                        margin: 6px 0 0 0;
                        background: $secondary-color;
                        color: $white;
                        font-family: $raleway-bold;
                        font-size: 1.375rem;
                        text-transform: uppercase;
                        padding: 10px 28px;
                        cursor: pointer;
                        @include border-radius(14px);
                        @include transition(all .3s);
                        &:hover {
                            background: $darken-secondary-color;
                            transform: translateY(-2px);
                            @include transition(all .3s);
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                        }
                    }
                }
            }
            .detalhes {
                margin: 0 0 40px 0;
                @include flex(row, nowrap, flex-start, flex-start);
                @media screen and (max-width: $tb) {
                    margin: 0 0 30px 0;
                    @include flex(column, nowrap, flex-start, flex-start);
                }
                > div {
                    &:first-of-type {
                        margin: 0 240px 0 0;
                        @media screen and (max-width: $tb) {
                            margin: 0 0 30px 0;
                        }
                    }
                    h2 {
                        margin-bottom: 30px !important;
                    }
                    strong {
                        font-family: $poppins;
                        font-size: 1.375rem;
                        color: $heading-01;
                        margin: 0 0 10px 0;
                    }
                    p {
                        margin: 0 0 10px 0;
                        color: $dark-gray;
                        font-family: $poppins;
                        font-size: 1rem;
                        &.data {
                            font-size: 1.25rem;
                            color: $heading-01;
                        }
                        a {
                            color: $primary-color;
                        }
                        img {
                            width: 28px;
                            margin: 0 10px -6px 0;
                        }
                    }
                }
            }
            .localizacao {
                h2 {
                    margin-bottom: 30px !important;
                }
                .infos {
                    @include flex(row, nowrap, space-between, flex-start);
                    @media screen and (max-width: $sm) {
                        @include flex(column, nowrap, flex-start, flex-start);
                    }
                    p {
                        max-width: 486px;
                        margin: 0 0 16px 0;
                        color: $dark-gray;
                        font-family: $poppins;
                        font-size: 1rem;
                        @media screen and (max-width: $sm) {
                            margin: 0 0 6px 0;
                        }
                        img {
                            width: 28px;
                            margin: 0 2px -8px 0;
                        }
                    }
                    > a {
                        display: inline-block;
                        margin: 6px 0 0 0;
                        background: $primary-color;
                        color: $white;
                        font-family: $raleway-semibold;
                        font-size: 1rem;
                        text-align: center;
                        text-transform: uppercase;
                        padding: 4px 22px;
                        cursor: pointer;
                        @include border-radius(20px);
                        @include transition(all .3s);
                        @media screen and (max-width: $sm) {
                            margin: 0 0 10px 0;
                        }
                        &:hover {
                            background: $darken-primary-color;
                            transform: translateY(-2px);
                            @include transition(all .3s);
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                        }
                    }
                }
                .mapa {
                    width: 100%;
                }
            }
        }
    }
}
