/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Single notícias
========================================================================== */
section.section-single-comites {
    padding: 30px 0 0 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 0 0;
    }
    > .al-small-container {
        > .comite {
            margin: 0 0 60px 0;
            > h1 {
                word-break: break-word;
                line-height: 1.4;
            }
            > span {
                display: block;
                margin: -32px 0 30px 18px;
                font-family: $poppins;
                color: $medium-gray;
                @media screen and (max-width: $dt) {
                    margin-left: 0;
                }
            }
            > img {
                display: block;
                margin: 0 auto 40px;
                max-height: 460px;
                object-fit: cover;
                object-position: center;
            }
            .content {
                font-family: $poppins !important;
                font-size: 1rem;
                color: $medium-gray;
                h2, h3, h4, h5, h6 {
                    font-size: 1.125rem;
                    font-family: $poppins !important;
                }
                span, strong, b {
                    display: inline-block;
                }
                p, span, strong, b {
                    @extend .content;
                }
                a {
                    color: $primary-color;
                }
            }
        }
        > .membros-comite {
            margin: 0 0 60px 0;
            > div {
                @include flex(row, wrap, flex-start, flex-start);
                @media screen and (max-width: $tb) {
                    @include flex(row, wrap, space-between, flex-start);
                }
                > article {
                    margin: 0 28px 28px 0;
                    max-width: 250px;
                    text-align: center;
                    color: $white;
                    @media screen and (max-width: $tb) {
                        width: 46%;
                        max-width: 100%;
                        margin: 0 0 28px 0 !important;
                    }
                    @media screen and (max-width: $sm) {
                        width: 100%;
                        max-width: 100%;
                        margin: 0 0 28px 0 !important;
                    }
                    &:nth-of-type(4n) {
                        margin: 0 0 28px 0;
                        @media screen and (max-width: $dt) {
                            margin: 0 28px 28px 0;
                        }
                        @media screen and (max-width: $tb) {
                            margin: 0 0 28px 0 !important;
                        }
                    }
                    > div:not(.content) {
                        position: relative;
                        &:after {
                            content: '';
                            position: absolute;
                            top: -4px;
                            right: -7px;
                            background: url('../assets/images/decoracao-card-grande.png');
                            background-repeat: no-repeat;
                            background-size: cover;
                            height: 100%;
                            width: 100px;
                            @media screen and (max-width: $dt) {
                                display: none;
                            }
                        }
                        img {
                            width: 100vw;
                            height: 192px;
                            object-fit: cover;
                            object-position: center;
                            @media screen and (max-width: $tb) {
                                max-height: 186px;
                            }
                        }
                    }
                    .content {
                        display: block;
                        min-height: 210px;
                        margin: -6px 0 0 0;
                        padding: 14px 16px;
                        background: $strong-primary-color;
                        @media screen and (max-width: $tb) {
                            height: 234px;
                        }
                        @media screen and (max-width: $sm) {
                            height: 220px;
                        }
                        h3 {
                            font-family: $raleway-bold;
                            font-size: 1.375rem;
                            margin: 0 0 12px 0;
                        }
                        p {
                            font-family: $raleway;
                            font-size: 0.875rem;
                            &.cargo {
                                font-family: $raleway-semibold;
                                font-size: 1rem;
                                text-transform: uppercase;
                                margin: 0 0 4px 0;
                            }
                            &.empresa {
                                font-family: $raleway-medium;
                                font-size: 1rem;
                                text-transform: uppercase;
                                margin: 0 0 6px 0;
                            }
                        }
                    }
                }
            }
        }
        > .contato {
            margin: 0 0 60px 0;
            .form-container {
                position: relative;
                p.cptch_block {
                    margin-bottom: 30px !important;
                    @media screen and (max-width: $tb) {
                        margin-bottom: 20px !important;
                    }
                }
                div[role=alert] {
                    position: initial !important;
                }
                form {
                    display: grid;
                    column-gap: 20px;
                    grid-template-columns: 1fr 1fr;
                    @media screen and (max-width: $tb) {
                        display: block;
                    }
                    p {
                        &:nth-of-type(3),
                        &:nth-of-type(4) {
                            grid-column: 1 / 2 span;
                        }
                    }
                    label {
                        display: inline-block;
                        margin: 0 0 6px 0;
                        font-family: $raleway-semibold;
                        font-size: 0.938rem;
                        color: $primary-color;
                        text-transform: uppercase;
                        @media screen and (max-width: $sm) {
                            font-size: 0.75rem;
                        }
                        span {
                            color: $tertiary-color;
                            text-transform: initial !important;
                            font-size: 0.875rem;
                        }
                    }
                    input,
                    textarea {
                        width: 100% !important;
                        margin: 0 0 26px 0;
                        padding: 6px 8px;
                        border: 1px solid $primary-color;
                        color: $tertiary-color;
                        font-family: $raleway-semibold;
                        background: none;
                        @include transition(all .3s);
                        @include border-radius(10px);
                        @media screen and (max-width: $tb) {
                            margin: 0 0 12px 0;
                        }
                        &:hover,
                        &:focus {
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                        }
                    }
                    textarea {
                        height: 140px;
                    }
                    input[type="submit"] {
                        display: inline-block;
                        max-width: 300px;
                        color: $white;
                        font-family: $raleway-semibold;
                        font-size: 1.5rem;
                        background: $secondary-color;
                        text-transform: uppercase;
                        border: none;
                        padding: 7px 58px;
                        cursor: pointer;
                        @include border-radius(12px);
                        @include transition(all .3s);
                        &:hover {
                            transform: translateY(-2px);
                            @include box-shadow(0 0 8px rgba(0, 0, 0, 0.2));
                        }
                    }
                }
            }
        }
        > .slider-single-comites-container {
            margin: 0 0 60px 0;
            .tns-controls {
                margin: -74px 0 16px 0;
                text-align: right;
                @media screen and (max-width: $tb) {
                    margin-right: 0;
                }
                button {
                    position: relative;
                    background: none;
                    color: $primary-color;
                    border: 1px solid $tertiary-color;
                    padding: 8px 7px 6px 7px;
                    @include border-radius(60px);
                    &:first-of-type {
                        margin: 0 10px 0 0;
                    }
                    &:hover {
                        background: $primary-color;
                        border: 1px solid $primary-color;
                        span {
                            &.arrow-left {
                                background: url('../assets/images/flechas/flecha-esquerda-branca.svg');
                            }
                            &.arrow-right {
                                background: url('../assets/images/flechas/flecha-direita-branca.svg');
                            }
                        }
                    }
                    span {
                        position: relative;
                        display: inline-block;
                        width: 24px;
                        height: 22px;
                        @include transition(all .6s);
                        &.arrow-left {
                            background: url('../assets/images/flechas/flecha-esquerda-cinza.svg');
                        }
                        &.arrow-right {
                            background: url('../assets/images/flechas/flecha-direita-cinza.svg');
                        }
                        &.arrow-left,
                        &.arrow-right {
                            background-size: contain !important;
                            background-repeat: no-repeat !important;
                            @include transition(all .6s);
                        }
                    }
                }
            }
            #slider-single-comites {
                .item {
                    position: relative;
                    display: inline-flex;
                    @include transition(all .3s);
                    @media screen and (max-width: $tb) {
                        display: inline-block;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: url('../assets/images/decoracao-card-grande.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                        width: 100px;
                        @media screen and (max-width: $dt) {
                            display: none;
                        }
                    }
                    > a {
                        display: inline-block;
                        width: 40%;
                        @media screen and (max-width: $tb) {
                            display: block;
                            width: 100%;
                            margin: 0 0 -6px 0;
                            img {
                                width: 100vw;
                                height: 172px !important;
                            }
                        }
                        img {
                            height: 270px;
                            width: 100vw;
                            @include transition(all .3s);
                        }
                    }
                    .content {
                        display: inline-block;
                        width: 61%;
                        padding: 20px;
                        height: 270px;
                        padding-right: 90px;
                        background: rgba($primary-color, 0.9);
                        @include transition(all .3s);
                        @media screen and (max-width: $tb) {
                            display: block;
                            width: 100%;
                            height: unset;
                            padding-right: 20px;
                        }
                        h3 {
                            font-family: $raleway-semibold;
                            font-size: 1.625rem;
                            color: $white;
                            max-width: 600px;
                            margin: 0 0 8px 0;
                            @media screen and (max-width: $tb) {
                                font-size: 1.375rem !important;
                                max-width: 100% !important;
                            }
                        }
                        a, p, span {
                            font-family: $poppins;
                            color: $white;
                            max-width: 600px;
                            @media screen and (max-width: $tb) {
                                max-width: 100% !important;
                            }
                        }
                        span {
                            float: right;
                            @media screen and (max-width: $tb) {
                                float: none;
                            }
                        }
                        p {
                            margin: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}
