/* Imports
========================================================================== */
@import 'index';
@import 'breadcrumb';

/* Single notícias
========================================================================== */
section.section-single-noticias {
    padding: 30px 0 0 0;
    @media screen and (max-width: $dt) {
        padding: 50px 0 0 0;
    }
    > .al-small-container {
        > .noticia {
            margin: 0 0 30px 0;
            > h1 {
                word-break: break-word;
                line-height: 1.4;
            }
            > span {
                display: block;
                margin: -32px 0 30px 18px;
                font-family: $poppins;
                color: $medium-gray;
                @media screen and (max-width: $dt) {
                    margin-left: 0;
                }
            }
            > img {
                display: block;
                margin: 0 auto 40px;
                width: 100%;
                object-fit: cover;
                object-position: center;
            }
            .content {
                font-family: $poppins !important;
                font-size: 1rem;
                color: $medium-gray;
                h2,
                h3,
                h4,
                h5,
                h6 {
                    font-size: 1.25rem;
                    font-family: $poppins !important;
                    color: $black;
                    margin: 0 0 10px;
                }
                span,
                strong,
                b {
                    display: inline-block;
                }
                strong,
                b {
                    font-weight: bold !important;
                    color: $black;
                }
                p,
                span,
                strong,
                b,
                a,
                em,
                i {
                    @extend .content;
                    line-height: 1.4;
                    margin: 0 0 20px;
                }
                a {
                    color: $primary-color !important;
                }
                img {
                    height: 100%;
                }
            }
        }
        .share-links {
            padding: 10px 0 0;
            margin: 0 0 30px;
            border-top: 1px solid $primary-color;
        }
        > .slider-single-noticias-container {
            margin: 0 0 60px 0;
            .tns-controls {
                margin: -74px 0 16px 0;
                text-align: right;
                @media screen and (max-width: $tb) {
                    margin-right: 0;
                }
                button {
                    position: relative;
                    background: none;
                    color: $primary-color;
                    border: 1px solid $tertiary-color;
                    padding: 8px 7px 6px 7px;
                    @include border-radius(60px);
                    &:first-of-type {
                        margin: 0 10px 0 0;
                    }
                    &:hover {
                        background: $primary-color;
                        border: 1px solid $primary-color;
                        span {
                            &.arrow-left {
                                background: url('../assets/images/flechas/flecha-esquerda-branca.svg');
                            }
                            &.arrow-right {
                                background: url('../assets/images/flechas/flecha-direita-branca.svg');
                            }
                        }
                    }
                    span {
                        position: relative;
                        display: inline-block;
                        width: 24px;
                        height: 22px;
                        @include transition(all 0.6s);
                        &.arrow-left {
                            background: url('../assets/images/flechas/flecha-esquerda-cinza.svg');
                        }
                        &.arrow-right {
                            background: url('../assets/images/flechas/flecha-direita-cinza.svg');
                        }
                        &.arrow-left,
                        &.arrow-right {
                            background-size: contain !important;
                            background-repeat: no-repeat !important;
                            @include transition(all 0.6s);
                        }
                    }
                }
            }
            #slider-single-noticias {
                .item {
                    position: relative;
                    display: inline-flex;
                    @include transition(all 0.3s);
                    @media screen and (max-width: $tb) {
                        display: inline-block;
                    }
                    &:after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: url('../assets/images/decoracao-card-grande.png');
                        background-repeat: no-repeat;
                        background-size: cover;
                        height: 100%;
                        width: 100px;
                        @media screen and (max-width: $dt) {
                            display: none;
                        }
                    }
                    > a {
                        display: inline-block;
                        width: 40%;
                        @media screen and (max-width: $tb) {
                            display: block;
                            width: 100%;
                            margin: 0 0 -6px 0;
                            img {
                                width: 100vw;
                                height: 172px !important;
                            }
                        }
                        img {
                            height: 270px;
                            width: 100vw;
                            @include transition(all 0.3s);
                        }
                    }
                    .content {
                        display: inline-block;
                        width: 61%;
                        padding: 20px;
                        height: 270px;
                        padding-right: 90px;
                        background: rgba($primary-color, 0.9);
                        @include transition(all 0.3s);
                        @media screen and (max-width: $tb) {
                            display: block;
                            width: 100%;
                            height: 100%;
                            padding-right: 20px;
                        }
                        h3 {
                            font-family: $raleway-semibold;
                            font-size: 1.625rem;
                            color: $white;
                            max-width: 600px;
                            margin: 0 0 8px 0;
                            @media screen and (max-width: $tb) {
                                font-size: 1.375rem !important;
                                max-width: 100% !important;
                            }
                        }
                        a,
                        p,
                        span {
                            font-family: $poppins;
                            color: $white;
                            max-width: 600px;
                            @media screen and (max-width: $tb) {
                                max-width: 100% !important;
                            }
                        }
                        span {
                            float: right;
                            @media screen and (max-width: $tb) {
                                float: none;
                            }
                        }
                        p {
                            margin: 0 0 10px 0;
                        }
                    }
                }
            }
        }
    }
}
