/* Imports
========================================================================== */
@import 'index';

/* Regional logo mobile
========================================================================== */
.mobile-logo {
    display: none;
    @media screen and (max-width: $dt) {
        display: block;
        text-align: center;
        margin: 80px auto 40px;
        img {
            @media screen and (max-width: 475px) {
                width: 280px;
            }
        }
    }
}

/* Home
========================================================================== */
.section-home {
    padding: 70px 0 0 0;
    section.section-destaques {
        margin: 0 0 100px 0;
        @media screen and (max-width: $tb) {
            margin: 0 0 40px 0;
        }
        > div {
            > .destaques {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                @media screen and (max-width: $dt) {
                    display: block;
                }
                article {
                    width: 49.2%;
                    display: block;
                    margin: 0 14px 14px 0;
                    @include transition(all 0.3s);
                    @media screen and (max-width: $dt) {
                        width: 100%;
                        margin: 0 0 20px 0;
                    }
                    &:nth-of-type(even) {
                        margin-right: 0;
                    }
                    &:hover {
                        transform: translateY(-2px);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                    }
                    > a {
                        display: block;
                        position: relative;
                        .image-wrapper {
                            img {
                                display: block;
                                width: 100%;
                                height: 286px;
                                object-fit: cover;
                                object-position: center;
                                @media screen and (max-width: $tb) {
                                    height: 212px !important;
                                }
                            }
                        }
                        .content {
                            position: relative;
                            width: 100%;
                            height: 100%;
                            min-height: 106px;
                            background: rgba($primary-color, 0.9);
                            padding: 8px 64px 8px 12px;
                            @include flex(
                                column,
                                nowrap,
                                flex-start,
                                flex-start
                            );
                            @media screen and (max-width: $dt) {
                                height: unset;
                            }
                            @media screen and (max-width: $tb) {
                                padding: 8px 12px;
                            }
                            &:after {
                                content: '';
                                position: absolute;
                                top: 0;
                                right: 0;
                                background: url('../assets/images/decoracao-card-grande.png');
                                background-repeat: no-repeat;
                                height: 100%;
                                width: 132px;
                                @media screen and (max-width: $dt) {
                                    display: none;
                                }
                            }
                            h2 {
                                font-family: $raleway-semibold;
                                color: $white;
                                margin: 0 0 6px 0;
                                @media screen and (max-width: $tb) {
                                    font-size: 1.125rem;
                                }
                            }
                            span {
                                font-family: $poppins;
                                color: $white;
                            }
                        }
                    }
                    &.small {
                        width: 32.2%;
                        margin: 0;
                        @media screen and (max-width: $dt) {
                            width: 100%;
                            margin-bottom: 14px;
                        }
                        .image-wrapper {
                            img {
                                width: 359px;
                                height: 187px;
                                @media screen and (max-width: $dt) {
                                    width: 100%;
                                    height: 286px;
                                }
                            }
                        }
                        .content {
                            min-height: 144px;
                            @media screen and (max-width: $dt) {
                                min-height: 106px;
                            }
                        }
                    }
                }
            }
        }
    }
    section.section-seja-um-associado {
        padding: 30px 0;
        margin: 0 0 80px 0;
        background: url('../assets/images/home/banner-seja-um-associado.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        @media screen and (max-width: $dt) {
            background-attachment: unset;
        }
        @media screen and (max-width: $tb) {
            margin: 0 0 40px 0;
            background: url('../assets/images/home/banner-seja-um-associado-mobile.png');
            background-size: cover;
            background-repeat: no-repeat;
        }
        > div {
            h2 {
                width: 162px;
                > span {
                    font-family: $raleway-semibold;
                }
            }
            .brand {
                margin: 0 0 30px 0;
                @include flex(row, nowrap, space-between, center);
                @media screen and (max-width: $tb) {
                    margin: 0 0 10px 0;
                    @include flex(row, wrap, flex-start, center);
                }
                p {
                    font-family: $poppins;
                    font-size: 0.875rem;
                    max-width: 820px;
                    color: $white;
                }
                a {
                    display: inline-block;
                    margin: -40px 0 0 0;
                    background: $white;
                    font-family: $raleway-bold;
                    font-size: 1.375rem;
                    text-transform: uppercase;
                    color: $secondary-color;
                    padding: 8px 60px;
                    @include border-radius(16px);
                    @include transition(all 0.3s);
                    @media screen and (max-width: $dt) {
                        padding: 8px 16px;
                        text-align: center;
                    }
                    @media screen and (max-width: $tb) {
                        margin: 14px 0;
                    }
                    @media screen and (max-width: $sm) {
                        margin: 14px auto;
                    }
                    &:hover {
                        transform: translateY(-1px);
                        @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                    }
                }
            }
            .icons {
                @include flex(row, nowrap, flex-start, center);
                @media screen and (max-width: $dt) {
                    @include flex(row, nowrap, center, center);
                }
                @media screen and (max-width: $tb) {
                    @include flex(row, wrap, space-evenly, center);
                }
                @media screen and (max-width: $sm) {
                    @include flex(column, wrap, center, center);
                }
                .icon {
                    text-align: center;
                    &:not(:last-of-type) {
                        margin: 0 100px 0 10px;
                        @media screen and (max-width: $dt) {
                            margin: 0 30px 0 0;
                        }
                        @media screen and (max-width: $tb) {
                            margin: 0 0 20px 0;
                        }
                    }
                    img {
                        display: block;
                        width: 80px;
                        margin: 0 auto 10px;
                    }
                    span {
                        font-family: $raleway-semibold;
                        font-size: 1.375rem;
                        color: $white;
                    }
                }
            }
        }
    }
    section.section-noticias {
        overflow: hidden;
        margin: 0 0 80px 0;
        @media screen and (max-width: $tb) {
            margin: 0 0 40px 0;
        }
        > div {
            .tns-controls {
                margin: -74px 92px 36px 0;
                text-align: right;
                @media screen and (max-width: $tb) {
                    margin-right: 0;
                }
                button {
                    position: relative;
                    background: none;
                    color: $primary-color;
                    border: 1px solid $tertiary-color;
                    padding: 8px 7px 6px 7px;
                    @include border-radius(60px);
                    &:first-of-type {
                        margin: 0 10px 0 0;
                    }
                    &:hover {
                        background: $primary-color;
                        border: 1px solid $primary-color;
                        span {
                            &.arrow-left {
                                background: url('../assets/images/flechas/flecha-esquerda-branca.svg');
                            }
                            &.arrow-right {
                                background: url('../assets/images/flechas/flecha-direita-branca.svg');
                            }
                        }
                    }
                    span {
                        position: relative;
                        display: inline-block;
                        width: 24px;
                        height: 22px;
                        @include transition(all 0.6s);
                        &.arrow-left {
                            background: url('../assets/images/flechas/flecha-esquerda-cinza.svg');
                        }
                        &.arrow-right {
                            background: url('../assets/images/flechas/flecha-direita-cinza.svg');
                        }
                        &.arrow-left,
                        &.arrow-right {
                            background-size: contain !important;
                            background-repeat: no-repeat !important;
                            @include transition(all 0.6s);
                        }
                    }
                }
            }
            #slider-noticias {
                article {
                    a.noticia {
                        display: block;
                        position: relative;
                        overflow: hidden;
                        padding: 0 !important;
                        @include transition(all 0.3s);
                        .image-wrapper {
                            img {
                                height: 300px;
                                width: 50%;
                                @include transition(all 0.3s);
                                @media screen and (max-width: $tb) {
                                    width: 100vw;
                                }
                                @media screen and (max-width: $sm) {
                                    height: 200px;
                                }
                            }
                        }
                        .content {
                            position: absolute;
                            top: 0;
                            right: 0;
                            height: 300px;
                            width: 50%;
                            padding: 20px 20px 20px 72px;
                            background: rgba($primary-color, 0.9);
                            @include transition(all 0.3s);
                            @media screen and (max-width: $dt) {
                                padding: 20px;
                            }
                            @media screen and (max-width: $tb) {
                                position: unset;
                                height: unset;
                                width: 100%;
                                padding: 18px;
                                margin: -4px 0 0;
                                &:after {
                                    display: none;
                                }
                            }
                            &:before {
                                content: '';
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: url('../assets/images/decoracao-card-grande.png');
                                background-repeat: no-repeat;
                                height: 100vh;
                                width: 122px;
                                transform: scaleX(-1);
                                @media screen and (max-width: $dt) {
                                    display: none;
                                }
                            }
                            h3 {
                                position: relative;
                                font-family: $raleway-semibold;
                                font-size: 1.75rem;
                                color: $white;
                                margin: 0 0 8px 0;
                                @media screen and (max-width: $tb) {
                                    font-size: 1.125rem !important;
                                }
                            }
                            span {
                                font-family: $poppins-semibold;
                                color: $white;
                            }
                        }
                    }
                }
            }
        }
    }
    section.section-eventos {
        margin: 0 0 80px 0;
        @media screen and (max-width: $tb) {
            margin: 0 0 40px 0;
        }
        .brand {
            @include flex(row, nowrap, flex-start, center);
            @media screen and (max-width: $dt) {
                @include flex(column, nowrap, flex-start, flex-start);
            }
            p {
                width: 480px;
                margin: -30px 0 0 300px;
                font-family: $poppins;
                font-size: 0.875rem;
                color: $tertiary-color;
                @media screen and (max-width: $dt) {
                    margin: -12px 0 20px 0;
                    width: 100%;
                    text-align: left;
                }
            }
        }
        .eventos {
            @include flex(row, wrap, center, flex-start);
            @media screen and (max-width: $dt) {
                text-align: center;
            }
            > article {
                display: inline-block;
                position: relative;
                @include transition(all 0.3s);
                &:hover {
                    transform: translateY(-2px);
                    @include box-shadow(0 0 8px rgba(0, 0, 0, 0.4));
                }
                &:first-of-type,
                &:nth-of-type(2) {
                    margin: 0 18px 18px 0;
                    width: 48.5%;
                    .image-wrapper {
                        img {
                            width: 100%;
                            height: 280px;
                        }
                    }
                }
                &:nth-of-type(2) {
                    margin: 0 0 18px 0;
                }
                &:nth-of-type(n + 3) {
                    margin: 0 20px 0 0;
                    width: 31.5%;
                    .image-wrapper {
                        img {
                            width: 100%;
                            height: 268px;
                        }
                    }
                    .content {
                        h3 {
                            font-size: 1.375rem !important;
                            @media screen and (max-width: $sm) {
                                font-size: 1.125rem !important;
                            }
                        }
                    }
                    &:last-of-type {
                        margin-right: 0 !important;
                    }
                }
                &:nth-of-type(odd) {
                    @media screen and (max-width: $dt) {
                        margin-right: 18px !important;
                    }
                    @media screen and (max-width: $tb) {
                        margin-right: 0 !important;
                    }
                }
                @media screen and (max-width: $tb) {
                    width: 100% !important;
                    margin: 0 0 18px 0 !important;
                }
                .image-wrapper {
                    img {
                        margin: 0 0 -4px 0;
                        @media screen and (max-width: $sm) {
                            height: 100% !important;
                        }
                    }
                }
                .content {
                    padding: 6px 16px;
                    width: 100%;
                    min-height: 92px;
                    background: rgba($primary-color, 0.9);
                    @include transition(all 0.3s);
                    @media screen and (max-width: $tb) {
                        text-align: left;
                    }
                    @media screen and (max-width: $sm) {
                        padding: 10px 16px;
                    }
                    h3 {
                        font-family: $raleway-semibold;
                        font-size: 1.75rem;
                        color: $white;
                        margin: 0 0 2px 0;
                        @media screen and (max-width: $tb) {
                            font-size: 1.125rem !important;
                        }
                    }
                    span {
                        font-family: $poppins;
                        color: $white;
                    }
                }
            }
        }
    }
    section.section-patrocinadores {
        margin: 0 0 80px 0;
        @media screen and (max-width: $tb) {
            margin: 0 0 40px 0;
        }
        .patrocinador {
            color: transparent;
        }
    }
    section.section-newsletter {
        background: url('../assets/images/banner-newsletter.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: center;
        padding: 50px 0;
        > div {
            @include flex(row, nowrap, space-between, center);
            @media screen and (max-width: $tb) {
                @include flex(column, nowrap, flex-start, flex-start);
            }
            .brand {
                @media screen and (max-width: $tb) {
                    margin: 0 0 20px 0;
                }
                h2 {
                    font-size: 2.625rem;
                    font-family: $raleway-semibold;
                    color: $white;
                    margin: 0 0 18px 0;
                }
                p {
                    font-size: 1.25rem;
                    font-family: $raleway;
                    color: $white;
                }
            }
            .form-container {
                @media screen and (max-width: $sm) {
                    width: 100%;
                }
                form {
                    fieldset {
                        > div {
                            display: flex;
                            @media screen and (max-width: $sm) {
                                flex-direction: column;
                            }
                            select,
                            input:not([type='hidden']) {
                                position: relative;
                                padding: 4px 16px;
                                margin: 0 10px 0 0;
                                font-family: $titillium-semibold;
                                font-size: 0.875rem;
                                background: none;
                                border: 2px solid #ccc;
                                color: $white;
                                &::placeholder {
                                    color: $white;
                                }
                                &:-ms-input-placeholder {
                                    color: $white;
                                }
                                &::-ms-input-placeholder {
                                    color: $white;
                                }
                                &::-webkit-input-placeholder {
                                    color: $white;
                                }
                                @media screen and (max-width: $tb) {
                                    width: 100% !important;
                                    max-width: 300px !important;
                                }
                                @media screen and (max-width: $sm) {
                                    margin: 0 0 10px;
                                    max-width: 100% !important;
                                }
                            }
                            select {
                                padding: 3px 16px;
                                height: 34px;
                                option {
                                    background: $primary-color;
                                }
                            }
                            input:not([type='hidden']) {
                                font-family: $titillium-semibold;
                                font-style: italic;
                                &[type='submit'] {
                                    margin: 0;
                                    padding: 4px 36px;
                                    border: none;
                                    background: $white;
                                    font-family: $raleway-bold;
                                    font-size: 1.375rem;
                                    font-style: normal;
                                    text-transform: uppercase;
                                    color: $primary-color;
                                    cursor: pointer;
                                    @include border-radius(20px);
                                    @include transition(all 0.3s);
                                    &:hover {
                                        transform: translateY(-1px);
                                        @include box-shadow(
                                            0 0 8px rgba(0, 0, 0, 0.4)
                                        );
                                    }
                                    @media screen and (max-width: $tb) {
                                        margin: 0 0 0 10px;
                                    }
                                    @media screen and (max-width: $sm) {
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
