p {
    font-family: sans-serif;
    position: absolute;
    font-size: 11px;
}
.razaoSocial {
    top: 244px;
    left: 310px;
}
.nomeFantasia {
    top: 264px;
    left: 310px;
}
.cnpjMf {
    top: 284px;
    left: 310px;
}
.endereco {
    top: 302px;
    left: 310px;
}
.cidadeUfCep {
    top: 322px;
    left: 310px;
}
.telefone {
    top: 343px;
    left: 310px;
}
.website {
    top: 362px;
    left: 310px;
}
.representanteLegal {
    top: 382px;
    left: 310px;
}
.cargo {
    top: 401px;
    left: 310px;
}
.email {
    top: 420px;
    left: 310px;
}
.telefoneCelular {
    top: 442px;
    left: 310px;
}
.emailCobranca {
    top: 460px;
    left: 310px;
}
/* .faixaFaturamento { top: 0px; left: 310px; } */
.mensalidade {
    top: 480px;
    left: 310px;
}
.emailRegional {
    top: 720px;
    left: 315px;
}
